html {
  background: #fff; }

body {
  overflow: visible !important;
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -webkit-font-feature-settings: "kern";
  font-feature-settings: "kern";
  background-color: #fff; }

.afsds-layout-section {
  min-height: 100px; }

.afsds-layout-section-sidenav-open {
  left: 30%;
  position: relative;
  max-width: 70%; }
  @media (max-width: 960px) {
    .afsds-layout-section-sidenav-open {
      left: 30%;
      max-width: 70%; } }
  @media (max-width: 600px) {
    .afsds-layout-section-sidenav-open {
      left: 0;
      max-width: 100%; } }

.afsds-layout-closed-sidenav {
  background-color: white;
  border-right: 1px solid #f5f7f9; }

.afsds-search-results-container {
  background-color: #fff;
  padding: 10px; }

.afsds-search-results-container-overflow {
  background-color: #fff;
  padding: 10px;
  overflow-y: scroll; }

.afsds-content-container {
  background-color: #fff; }

.afsds-content-container-banner {
  background-color: #fff;
  position: relative;
  overflow: hidden; }

.afsds-content-container-VH-100-lg {
  height: calc(100vh - 100px);
  min-height: 568px;
  position: relative;
  z-index: 10; }
  @media (max-width: 599px) {
    .afsds-content-container-VH-100-lg {
      min-height: 568px;
      height: auto; } }

.afsds-content-container-VH-100 {
  height: calc(100vh - 100px);
  min-height: 568px;
  position: relative;
  z-index: 10; }
  @media (max-width: 599px) {
    .afsds-content-container-VH-100 {
      min-height: 538px; } }

.afsds-content-wrapper {
  position: relative;
  width: 100%;
  background-color: #dce0e9; }

.afsds-content-wrapper-fixed-height {
  position: relative;
  width: 100%;
  height: 100vh;
  border: 1px solid #f5f7f9; }

.afsds-content-overflow-hidden {
  overflow: hidden; }
  .afsds-content-overflow-hidden.md-locked-open {
    display: block; }

.afsds-content-min-height {
  min-height: 900px; }

md-sidenav {
  border-right: 1px solid #f5f7f9;
  width: 30%;
  overflow-x: hidden;
  box-shadow: 6px 0px 2px rgba(33, 33, 33, 0.05); }
  @media (max-width: 960px) {
    md-sidenav {
      width: 30%; } }
  @media (max-width: 600px) {
    md-sidenav {
      width: 100%;
      border-right: none; } }

.afsds-blue-content-container {
  background-color: #205493; }

.afsds-blue-gradient-content-container {
  background-color: #205493; }

.afsds-white-content-container {
  background-color: #fff; }

.afsds-grey-content-container {
  background-color: #f5f7f9; }

.afsds-dark-grey-content-container {
  background-color: #8994a1; }

.afsds-hr-1 {
  margin: 0;
  border: 1px solid #dce0e9;
  border-bottom: none; }

.afsds-hr-2 {
  margin: 0;
  border: 1px solid #dce0e9; }

.afsds-margin-0 {
  margin: 0; }

.afsds-padding-0 {
  padding: 0; }
  @media (max-width: 600px) {
    .afsds-padding-0 {
      padding-left: 10px;
      padding-right: 10px; } }

iframe {
  width: 100%; }

.afsds-padding-10 {
  padding: 10px; }

.afsds-with-warning-message-without-filters {
  /*height: calc(100vh - 355px);*/
  height: calc(100vh - 270px); }

.afsds-with-warning-message-with-filters {
  /*height: calc(100vh - 391px);*/
  height: calc(100vh - 306px); }

.afsds-without-warning-message-without-filters {
  /*height: calc(100vh - 300px);*/
  height: calc(100vh - 200px); }

.afsds-without-warning-message-with-filters {
  height: calc(100vh - 238px); }

#titleContainerPositioning {
  width: auto !important; }

.afsds-shareModal-position {
  position: absolute;
  right: 0;
  width: 25%; }

.afsds-panel-title {
  color: #fa39c3; }

.afsds-panel-body {
  text-align: right; }

.afsds-tables-restrictContainer {
  width: 100%; }

@media (max-width: 600px) {
  #afsds-layout-desktopHideFilter {
    display: none !important; } }

.afsds-single-search-cont-height {
  height: calc(100vh - 190px); }
  @media (max-width: 600px) {
    .afsds-single-search-cont-height {
      height: inherit;
      margin-top: 20px; } }

.afsds-single-search-cont-no-disc {
  height: calc(100vh - 100px); }
  @media (max-width: 600px) {
    .afsds-single-search-cont-no-disc {
      height: calc(100vh - 120px);
      margin-top: 20px; } }

.afsds-searchText-container {
  background-color: #F2F2F2;
  padding: 10px;
  height: 60px;
  position: relative;
  z-index: 1000; }

.afsds-layout-typeahead-container {
  background-color: #F2F2F2;
  padding: 10px;
  height: 60px;
  position: relative;
  z-index: 100; }

.search-panel-head {
  padding: 10px 0; }

.afsds-margin-bottom-0 {
  margin-bottom: 0; }

.afsds-height-auto {
  height: auto !important; }

.afsds-padding-left {
  padding-left: 10px; }

.afsds-video-container {
  width: 853px; }

.afsds-no-overflow-x {
  overflow-x: hidden; }

.afsds-image-tooltip-container {
  margin-bottom: -20px;
  z-index: 5;
  position: relative; }

.afsds-background-light-gray {
  background-color: #f5f7f9; }

.afsds-layout-title-bar {
  background-color: #f5f7f9;
  border: 1px solid #dce0e9; }

.afsds-layout-learn-more {
  background-color: #f5f7f9;
  border: 1px solid #dce0e9;
  width: auto;
  margin-top: 10px; }
  @media (min-width: 1280px) {
    .afsds-layout-learn-more {
      margin-top: auto;
      width: 300px; } }

.afsds-bottom-sheet {
  height: 50vh;
  min-height: 400px;
  overflow-y: auto; }

.afsds-layout-pos-right {
  position: absolute;
  right: 0;
  top: 0; }

.afsds-remove-left-right-borders {
  padding-left: 0;
  padding-right: 0;
  border-left: none;
  border-right: none; }

.afsds-padding-LR-5 {
  padding-left: 5%;
  padding-right: 5%; }

.afsds-padding-LR-5-0 {
  padding-left: 5%;
  padding-right: 5%; }
  @media (max-width: 600px) {
    .afsds-padding-LR-5-0 {
      padding-left: 0;
      padding-right: 0; } }

.afsds-padding-LR-0-5 {
  padding-left: 0;
  padding-right: 0; }
  @media (max-width: 600px) {
    .afsds-padding-LR-0-5 {
      padding-left: 5%;
      padding-right: 5%; } }

.afsds-padding-LR-10-5-0 {
  padding-left: 10%;
  padding-right: 10%; }
  @media (max-width: 960px) {
    .afsds-padding-LR-10-5-0 {
      padding-left: 5%;
      padding-right: 5%; } }
  @media (max-width: 600px) {
    .afsds-padding-LR-10-5-0 {
      padding-left: 0;
      padding-right: 0; } }

.afsds-padding-LR-10-5 {
  padding-left: 10%;
  padding-right: 10%; }
  @media (max-width: 960px) {
    .afsds-padding-LR-10-5 {
      padding-left: 5%;
      padding-right: 5%; } }

@media (max-width: 600px) {
  .afsds-padding-LR-5-xs {
    padding-left: 5%;
    padding-right: 5%; } }

.afsds-padding-LR-10 {
  padding-left: 10%;
  padding-right: 10%; }

.afsds-padding-TOP-15 {
  padding-top: 15px; }

.afsds-padding-TOP-30 {
  padding-top: 30px; }

.afsds-padding-TOP-45 {
  padding-top: 45px; }

.afsds-padding-TOP-60 {
  padding-top: 60px; }

.afsds-padding-TOP-75 {
  padding-top: 75px; }

.afsds-padding-BTM-15 {
  padding-bottom: 15px; }

.afsds-padding-BTM-30 {
  padding-bottom: 30px; }

.afsds-padding-BTM-45 {
  padding-bottom: 45px; }

.afsds-padding-BTM-60 {
  padding-bottom: 60px; }

.afsds-padding-BTM-75 {
  padding-bottom: 75px; }

.afsds-container-min-height {
  min-height: 10px; }

.afsds-reset-margin {
  margin: 0; }

.afsds-padding-TB-10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.afsds-border-right {
  border-right: 1px solid #D6D7D9; }
  .afsds-border-right:last-child {
    border-right: none; }
  @media (max-width: 599px) {
    .afsds-border-right:nth-child(2n) {
      border-right: none; } }

@media (max-width: 599px) {
  .afsds-border-bottom {
    border-bottom: 1px solid #D6D7D9; }
    .afsds-border-bottom:last-child {
      border-bottom: none; } }

.afsds-display-block {
  display: block; }

.layout-row .afsds-flex-override-safari {
  flex: 1 1 auto; }
  @media (max-width: 599px) {
    .layout-row .afsds-flex-override-safari {
      flex: 1 1 100%; } }

.afsds-viz-container {
  width: 100%;
  height: 300px; }
  @media (max-width: 599px) {
    .afsds-viz-container {
      height: 145px; } }

.afsds-map-thumnbnail-size {
  width: 100%;
  height: 300px; }
  @media (max-width: 599px) {
    .afsds-map-thumnbnail-size {
      height: 75px; } }

.afsds-parallax-navigation {
  position: fixed;
  top: 25vh;
  left: 2%;
  z-index: 30; }
  @media (max-width: 599px) {
    .afsds-parallax-navigation {
      display: none; } }
  .afsds-parallax-navigation .afsds-parallax-navigation-indicator {
    height: 20px;
    width: 20px;
    display: block;
    border-radius: 10px;
    margin: 14px 0;
    background-color: rgba(32, 84, 147, 0.1);
    transition: .5s; }
    .afsds-parallax-navigation .afsds-parallax-navigation-indicator:hover {
      background-color: rgba(32, 84, 147, 0.5); }
    .afsds-parallax-navigation .afsds-parallax-navigation-indicator.active {
      background-color: #205493; }
      .afsds-parallax-navigation .afsds-parallax-navigation-indicator.active:hover {
        background-color: #205493; }
    .afsds-parallax-navigation .afsds-parallax-navigation-indicator .afsds-parallax-navigation-link {
      height: 100%;
      width: 100%;
      display: block;
      border-radius: 10px; }

.afsds-content-container-banner:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-attachment: scroll;
  background-position: 90% center;
  background-size: 45%;
  background-repeat: no-repeat; }
  @media (max-width: 599px) {
    .afsds-content-container-banner:before {
      background-position: center 80%;
      background-size: 90%; } }

.afsds-content-container-after-parallax {
  position: relative;
  z-index: 10; }

.afsds-parallax-container {
  position: relative;
  overflow: hidden;
  z-index: 5; }
  .afsds-parallax-container .afsds-content-container {
    background-color: #f5f7f9;
    position: static; }
    @media (max-width: 599px) {
      .afsds-parallax-container .afsds-content-container {
        position: relative; } }
  .afsds-parallax-container .afsds-content-container .afsds-parallax-image:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: 10% center;
    background-size: 40%;
    background-repeat: no-repeat;
    transition: .3s;
    opacity: 0; }
    @media (max-width: 599px) {
      .afsds-parallax-container .afsds-content-container .afsds-parallax-image:before {
        background-size: 90%;
        background-attachment: scroll;
        opacity: 1; } }
  .afsds-parallax-container .afsds-content-container.active .afsds-parallax-image:before {
    opacity: 1; }

#banner:before {
  background-image: url(/app/images/3screens.svg); }

#geoProfileImage:before {
  background-image: url(/app/images/Discover.png);
  background-position: 10% 80%; }
  @media (max-width: 599px) {
    #geoProfileImage:before {
      background-position: center 15%; } }

#enhancedMapImage:before {
  background-image: url(/app/images/Visualize.png); }
  @media (max-width: 599px) {
    #enhancedMapImage:before {
      background-position: center 30%; } }

#shareImage:before {
  background-image: url(/app/images/Interact.png); }
  @media (max-width: 599px) {
    #shareImage:before {
      background-position: center 15%; } }

a {
  color: #205493;
  text-decoration: none; }
  a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    color: #23527c;
    text-decoration: underline; }
  a:hover {
    outline: 0;
    color: #23527c;
    text-decoration: underline; }
  a:active {
    outline: 0; }

.md-button {
  font-weight: 700;
  margin: 0;
  text-transform: none;
  font-size: 16px; }
  @media (max-width: 600px) {
    .md-button {
      font-size: 13px;
      font-weight: 500; } }
  .md-button.afsds-primary-button {
    border-radius: 2px;
    background-color: #fff;
    color: #205493;
    border: 1px solid #205493; }
    .md-button.afsds-primary-button:hover:not([disabled]), .md-button.afsds-primary-button:focus:not([disabled]) {
      background-color: #205493;
      color: #fff;
      border: 1px solid #fff;
      cursor: pointer; }
    .md-button.afsds-primary-button span {
      margin-left: -5px;
      padding-right: 5px;
      padding-left: 5px; }
    .md-button.afsds-primary-button .material-icons, .md-button.afsds-primary-button .fa {
      vertical-align: middle;
      padding-left: 10px; }
  .md-button.afsds-alternate-button {
    border-radius: 2px;
    background-color: #fff;
    color: #1276db;
    border: 1px solid #1276db; }
    .md-button.afsds-alternate-button:hover:not([disabled]), .md-button.afsds-alternate-button:focus:not([disabled]) {
      background-color: #1276db;
      color: #fff;
      border: 1px solid #fff;
      cursor: pointer; }
    .md-button.afsds-alternate-button span {
      margin-left: -5px;
      padding-right: 5px;
      padding-left: 5px; }
    .md-button.afsds-alternate-button .material-icons, .md-button.afsds-alternate-button .fa {
      vertical-align: middle;
      padding-left: 10px; }
  .md-button.afsds-warn-button {
    border-radius: 2px;
    background-color: #fff8e1;
    color: #8e4302;
    border: 1px solid #8e4302; }
    .md-button.afsds-warn-button:hover:not([disabled]), .md-button.afsds-warn-button:focus:not([disabled]) {
      background-color: #8e4302;
      color: #fff;
      border: 1px solid #fff;
      cursor: pointer; }
    .md-button.afsds-warn-button .material-icons, .md-button.afsds-warn-button .fa {
      vertical-align: middle;
      padding-left: 10px; }
  .md-button.afsds-error-button {
    border-radius: 2px;
    background-color: #ffebee;
    color: #b51f23;
    border: 1px solid #b51f23; }
    .md-button.afsds-error-button:hover:not([disabled]), .md-button.afsds-error-button:focus:not([disabled]) {
      background-color: #b51f23;
      color: #fff;
      border: 1px solid #fff;
      cursor: pointer; }
    .md-button.afsds-error-button .material-icons, .md-button.afsds-error-button .fa {
      vertical-align: middle;
      padding-left: 10px; }
  .md-button.afsds-success-button {
    border-radius: 2px;
    background-color: #e8f5e9;
    color: #1b5e20;
    border: 1px solid #1b5e20; }
    .md-button.afsds-success-button:hover:not([disabled]), .md-button.afsds-success-button:focus:not([disabled]) {
      background-color: #1b5e20;
      color: #fff;
      border: 1px solid #fff;
      cursor: pointer; }
    .md-button.afsds-success-button .material-icons, .md-button.afsds-success-button .fa {
      vertical-align: middle;
      padding-left: 10px; }
  .md-button.afsds-info-button {
    border-radius: 2px;
    background-color: #f5f7f9;
    color: #434343;
    border: 1px solid #434343; }
    .md-button.afsds-info-button:hover:not([disabled]), .md-button.afsds-info-button:focus:not([disabled]) {
      background-color: #434343;
      color: #fff;
      border: 1px solid #fff;
      cursor: pointer; }
    .md-button.afsds-info-button .material-icons, .md-button.afsds-info-button .fa {
      vertical-align: middle;
      padding-left: 10px; }
  .md-button.afsds-primary-link {
    color: #205493;
    min-width: 0;
    padding: 0; }
    .md-button.afsds-primary-link:hover, .md-button.afsds-primary-link:focus {
      text-decoration: underline;
      background-color: transparent; }
    .md-button.afsds-primary-link .material-icons, .md-button.afsds-primary-link .fa {
      vertical-align: middle; }
  .md-button.afsds-secondary-link {
    color: #fff;
    min-width: 0;
    padding: 0; }
    .md-button.afsds-secondary-link:hover, .md-button.afsds-secondary-link:focus {
      text-decoration: underline;
      background-color: transparent; }
    .md-button.afsds-secondary-link .material-icons, .md-button.afsds-secondary-link .fa {
      vertical-align: middle; }
  .md-button.afsds-large-button {
    height: 80px;
    font-size: 1.4em;
    border-radius: 0;
    padding: 10px; }
    .md-button.afsds-large-button span {
      margin-left: -5px;
      padding-right: 5px; }
    .md-button.afsds-large-button .material-icons, .md-button.afsds-large-button .fa {
      vertical-align: middle;
      padding-left: 10px; }
  .md-button[disabled] {
    color: #8994a1;
    border: 0;
    background-color: #dce0e9; }
    .md-button[disabled]:hover, .md-button[disabled]:focus {
      text-decoration: none; }
  .md-button.fixed-scroll-button {
    position: fixed;
    right: 20px;
    bottom: 20px; }
  .md-button.afsds-toggle-sidenav {
    position: absolute;
    left: 0;
    top: 10px;
    border-radius: 0;
    width: 14px;
    height: 55px;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background: #f5f7f9;
    border: 1px solid #205493;
    border-left: none;
    box-shadow: 1px 1px 1px #f5f7f9;
    color: #205493;
    z-index: 65; }

.buttonSection {
  background: #f5f7f9;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px;
  height: 70px; }

.afsds-library-nav-link {
  margin: 0; }

.afsds-inline-link {
  min-height: 0;
  line-height: inherit;
  margin: 0; }

.afsds-search-result-title-link {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 16px;
  line-height: normal;
  min-height: 0;
  padding: 0;
  margin: 0;
  white-space: normal; }

.afsds-search-result-url-link {
  text-transform: lowercase;
  font-size: 12px;
  text-overflow: ellipsis;
  line-height: normal;
  min-height: 0;
  padding: 0;
  margin: 0 0 15px 0; }

/* DELETE THIS ONCE WE HAVE NEW MAPS ICONS AND LAYOUT */
.btn {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.afsds-pallet-preview {
  height: 100px;
  width: 100px; }

.gridListdemoBasicUsage .gray {
  background: #f5f5f5; }

.gridListdemoBasicUsage .green {
  background: #b9f6ca; }

.gridListdemoBasicUsage .yellow {
  background: #ffff8d; }

.gridListdemoBasicUsage .blue {
  background: #84ffff; }

.gridListdemoBasicUsage .purple {
  background: #b388ff; }

.gridListdemoBasicUsage .red {
  background: #ff8a80; }

.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms; }

.gridListdemoBasicUsage md-grid-list {
  margin: 8px; }

md-select.afsds-primary-select:focus:not([disabled]) .md-select-value {
  border-radius: 2px;
  border-width: 0; }

md-select {
  border: 2px solid #dce0e9;
  border-radius: 2px; }
  md-select .md-select-value {
    border-width: 0; }

md-input-container {
  margin: 0; }
  md-input-container .md-input {
    border: 2px solid #dce0e9 !important;
    border-radius: 2px; }
    md-input-container .md-input.afsds-input-large {
      height: 50px;
      font-size: 18px;
      padding-left: 5px;
      padding-right: 40px;
      color: #205493; }
      md-input-container .md-input.afsds-input-large::placeholder {
        color: #8994a1; }
    md-input-container .md-input.afsds-input-header {
      color: #fff;
      border: none !important; }
      @media (max-width: 959px) {
        md-input-container .md-input.afsds-input-header {
          height: 32px; }
          md-input-container .md-input.afsds-input-header .fa {
            top: 8px; } }
      md-input-container .md-input.afsds-input-header::placeholder {
        color: #fff; }
  md-input-container .fa {
    position: absolute;
    right: 14px;
    font-size: 26px;
    top: 14px;
    color: #205493; }

md-input-container.md-input-focused:not(.md-input-invalid) .md-input {
  border-color: #dce0e9; }

md-input-container.md-input-focused:not(.md-input-invalid) label {
  color: #8994a1; }

md-backdrop {
  opacity: 0; }

.afsds-form-control {
  border: 0.5px solid #ccc; }

.afsds-searchBtnHolder {
  border: 2px solid #ccc;
  width: auto;
  border-left: none;
  left: -1px;
  position: relative;
  border-radius: 2px; }

md-switch {
  margin: 0; }
  md-switch.md-checked .md-thumb {
    background-color: #fff;
    border: 1px solid #205493; }
  md-switch.md-checked.md-focused .md-thumb:before {
    background-color: rgba(32, 84, 147, 0.26); }
  md-switch.md-checked .md-bar {
    background-color: #205493; }
  md-switch.md-checked .md-ink-ripple {
    color: #205493; }
  md-switch .md-thumb {
    background-color: #fff;
    border: 1px solid #8994a1; }
  md-switch .md-bar {
    background-color: #8994a1; }
  md-switch .md-ink-ripple {
    color: #8994a1; }

md-checkbox.afsds-primary-checkbox.md-checked:not([disabled]) .md-icon {
  background-color: #205493; }

.afsds-header.afsds-header-fixed-scroll {
  top: -100px;
  opacity: 0;
  transition: .5s;
  position: fixed;
  width: 100%; }
  .afsds-header.afsds-header-fixed-scroll.active {
    top: 0;
    z-index: 20;
    opacity: 1; }

.afsds-header md-toolbar {
  min-height: 100px;
  background-color: #205493; }

.afsds-header .md-toolbar-tools {
  background-color: #205493;
  color: #fff;
  min-height: 100px; }

.afsds-header .afsds-logo {
  height: 50px; }

.afsds-header .afsds-feedback-link {
  font-size: 14px;
  font-weight: bold; }

.afsds-header .afsds-header-search-wrapper {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 2px;
  height: 50px; }
  .afsds-header .afsds-header-search-wrapper i {
    color: white;
    font-size: 18px; }
  .afsds-header .afsds-header-search-wrapper input {
    color: #fff;
    background-color: transparent;
    border: none; }
    .afsds-header .afsds-header-search-wrapper input:focus {
      outline: none; }

.afsds-header-wrapper {
  width: 100%; }

@media (max-width: 960px) {
  .afsds-header-section-p {
    font-size: 10px; } }

.afsds-header-search-width {
  width: 400px; }

@media (max-width: 960px) {
  .afsds-header-mobile md-toolbar {
    height: 50px;
    min-height: 50px; }
  .afsds-header-mobile .md-toolbar-tools {
    min-height: 50px;
    height: 50px;
    padding: 0px 10px; }
  .afsds-header-mobile .afsds-header-search-wrapper {
    height: 36px; }
  .afsds-header-mobile .afsds-logo {
    height: 30px;
    position: relative;
    top: 2px; } }

.afsds-header-sidenav md-toolbar {
  height: 50px;
  min-height: 50px; }

.afsds-header-sidenav .md-toolbar-tools {
  min-height: 50px;
  height: 50px;
  padding: 0px 10px; }

.afsds-header-sidenav .afsds-header-search-wrapper {
  height: 36px; }

.afsds-header-sidenav .afsds-logo {
  height: 30px;
  position: relative;
  top: 2px; }

.afsds-header-application md-toolbar {
  background-color: #f5f7f9; }

.afsds-header-application .fa {
  color: #212121; }

.afsds-header-application .md-toolbar-tools {
  background-color: #f5f7f9;
  color: #212121;
  max-height: none;
  height: inherit; }

.afsds-header-fixed-container {
  position: relative;
  z-index: 20; }

.afsds-footer {
  background-color: #205493;
  text-align: center;
  color: #fff;
  min-height: 70px; }
  .afsds-footer .afsds-secondary-link-footer {
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize; }
    @media (max-width: 960px) {
      .afsds-footer .afsds-secondary-link-footer {
        min-height: 16px;
        line-height: 16px;
        font-size: 13px;
        display: inline-block;
        margin: 6px 0px; } }

.afsds-footer-sidenav .afsds-secondary-link-footer {
  font-size: 13px;
  line-height: 20px;
  min-height: 20px; }

.md-tooltip.afsds-tooltip {
  width: 300px;
  background-color: #f5f7f9;
  color: #212121;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  overflow: visible;
  white-space: normal;
  height: auto;
  opacity: 1; }

body {
  font-size: 16px;
  color: #212121;
  font-family: 'Open Sans', sans-serif; }

p {
  margin: 0; }

.afsds-h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 44px;
  margin-bottom: 0px;
  margin-top: 0;
  display: inline-block;
  font-weight: 500;
  line-height: 1.5em; }

.afsds-h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 0;
  display: inline-block;
  font-weight: 500;
  line-height: 1.5em; }

.afsds-h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  margin-bottom: 0px;
  margin-top: 0;
  display: inline-block;
  font-weight: 500;
  line-height: 1.5em; }

.afsds-h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 0;
  display: inline-block;
  font-weight: 500;
  line-height: 1.5em; }

.afsds-h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 0;
  display: inline-block;
  font-weight: 500;
  line-height: 1.5em; }
  .afsds-h5.afsds-block-text {
    overflow: hidden;
    position: relative;
    line-height: 1.375em;
    max-height: 2.75em;
    margin-right: -1em;
    padding-right: 1em;
    word-break: break-all;
    hyphens: auto;
    white-space: pre-wrap; }
    .afsds-h5.afsds-block-text:before {
      content: '...';
      position: absolute;
      right: 0;
      bottom: 0; }
    .afsds-h5.afsds-block-text:after {
      content: '';
      position: absolute;
      right: 0;
      width: 1em;
      height: 1em;
      margin-top: 0.2em;
      background: #fff; }

.afsds-body-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-bottom: 0px;
  margin-top: 0;
  display: inline-block;
  font-weight: 500;
  line-height: 1.5em; }
  .afsds-body-text.afsds-block-text {
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 2.4em;
    margin-right: -1em;
    padding-right: 1em;
    word-break: break-all;
    hyphens: auto;
    white-space: pre-wrap; }
    .afsds-body-text.afsds-block-text:before {
      content: '...';
      position: absolute;
      right: 0;
      bottom: 0; }
    .afsds-body-text.afsds-block-text:after {
      content: '';
      position: absolute;
      right: 0;
      width: 1em;
      height: 1em;
      margin-top: 0.2em;
      background: #fff; }

.afsds-text-color-white {
  color: #fff; }

.afsds-text-color-gray {
  color: #8994a1; }

.afsds-text-color-blue {
  color: #205493; }

.afsds-body-text-small {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  margin-bottom: 0;
  margin-top: 0;
  display: inline-block;
  font-weight: 500;
  line-height: 1.5em; }

.afsds-bold-text {
  font-weight: 700; }

.afsds-light-text {
  font-weight: 300; }

.afsds-left-align {
  text-align: left; }

.afsds-center-align {
  text-align: center; }

.afsds-link-color {
  color: #1276db; }

.afsds-right-align {
  text-align: right; }

@media (max-width: 960px) {
  .afsds-center-align-sm {
    text-align: center; } }

.afsds-heading-label {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 0;
  display: inline-block;
  font-weight: 500;
  line-height: 1.5em;
  font-weight: 700; }
  @media (max-width: 960px) {
    .afsds-heading-label {
      font-size: 24px; } }

p {
  margin: 0; }

.afsds-text-min-height {
  min-height: 40px; }

.afsds-chips .md-chips {
  box-shadow: none; }

.afsds-chips md-chip {
  border: 1px solid;
  border-radius: 6px;
  font-size: 13px;
  font-weight: bold;
  background-color: #f5f7f9;
  height: 24px;
  line-height: 24px; }
  .afsds-chips md-chip .afsds-primary-link {
    min-width: 0;
    min-height: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    margin-left: 5px; }

.afsds-chips-badge {
  min-width: 242px;
  padding: 3px 7px;
  font-size: 14px;
  line-height: 1;
  color: black;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #f5f7f9;
  border-radius: 6px;
  display: inline-block;
  margin-top: 5px;
  border: 1px solid #000;
  z-index: 100; }
  .afsds-chips-badge .afsds-chips-badgeHeader {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px; }
  .afsds-chips-badge .afsds-chips-badge-expandedView {
    width: 100%;
    margin-right: 5px;
    margin-top: 4px;
    display: inline-block;
    padding-top: 5px; }
  .afsds-chips-badge .afsds-chips-badge-expandedView > div {
    margin-top: 5px; }

.afsds-chips-span {
  margin-right: 5px;
  margin-top: 4px;
  display: inline-block;
  padding: 3px 6px;
  background-color: #f5f7f9;
  border-radius: 6px;
  border: 1px solid #000;
  vertical-align: top;
  color: #000; }

.afsds-chips-filterBubbleContainer {
  position: relative;
  height: 41px;
  border-bottom: 1px solid #f5f7f9;
  padding: 4px 0 4px 10px; }

.afsds-chips-clearAll-wrapper {
  min-width: 70px; }

.afsds-chips-wrapper {
  max-width: 880px;
  padding-left: 10px; }
  .afsds-chips-wrapper a {
    text-decoration: none; }

md-toast.md-default-theme .md-toast-content {
  background-color: #fff8e1;
  color: #212121; }

.afsds-warn-toast .md-toast-content {
  background-color: #fff8e1; }

.afsds-warn-toast .md-toast-text {
  color: #8e4302; }

.afsds-warn-toast .fa.fa-exclamation-triangle {
  color: #8e4302; }

.afsds-error-toast .md-toast-content {
  background-color: #ffebee; }

.afsds-error-toast .md-toast-text {
  color: #b51f23; }

.afsds-error-toast .fa.fa-ban {
  color: #b51f23; }

.afsds-success-toast .md-toast-content {
  background-color: #e8f5e9; }

.afsds-success-toast .md-toast-text {
  color: #1b5e20; }

.afsds-success-toast .fa.fa-check {
  color: #1b5e20; }

.afsds-info-toast .md-toast-content {
  background-color: #f5f7f9; }

.afsds-info-toast .md-toast-text {
  color: #434343; }

.afsds-info-toast .fa.fa-info-circle {
  color: #434343; }

.afsds-tabs-wrapper {
  background-color: #f5f7f9; }
  .afsds-tabs-wrapper .afsds-tabs .md-tab {
    font-size: 18px;
    color: #8994a1;
    text-overflow: inherit;
    text-transform: capitalize;
    padding: 20px 12px;
    padding-bottom: 0; }
  .afsds-tabs-wrapper .afsds-tabs .md-tab.md-active {
    color: #205493;
    font-weight: bold; }
  .afsds-tabs-wrapper .afsds-tabs md-tabs-wrapper {
    height: 60px; }
  .afsds-tabs-wrapper .afsds-tabs md-tab-content {
    top: 15px; }
  .afsds-tabs-wrapper .afsds-tabs md-ink-bar {
    color: #205493;
    background: #205493;
    height: 4px;
    border-radius: 2px;
    margin: 0px 2px;
    bottom: 0px; }
  .afsds-tabs-wrapper .afsds-tabs md-tabs-canvas {
    margin: 0;
    overflow: visible; }
  .afsds-tabs-wrapper .afsds-tabs md-pagination-wrapper {
    height: 60px; }
  .afsds-tabs-wrapper .afsds-tabs md-prev-button {
    display: none; }
  .afsds-tabs-wrapper .afsds-tabs md-next-button {
    display: none; }
  .afsds-tabs-wrapper .afsds-tabs-sidenav md-tabs-wrapper {
    padding: 0; }

.afsds-progress-circular path {
  stroke: #205493; }

.afsds-pagination-container .md-button {
  border: 1px solid #f5f7f9;
  margin: 0; }
  .afsds-pagination-container .md-button.left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 0; }
  .afsds-pagination-container .md-button.middle {
    border-radius: 0;
    border-right: 0; }
  .afsds-pagination-container .md-button.right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px; }
  .pagination li {
    display: inline; }
    .pagination li a {
      padding: 6px 4px;
      font-size: 11px;
      width: 11%;
      position: relative;
      float: left;
      margin-left: -1px;
      line-height: 1.42857143;
      text-decoration: none;
      border: 1px solid #ddd; }
      .pagination li a:hover {
        z-index: 2;
        color: #23527c;
        background-color: #eee;
        border-color: #ddd; }
    .pagination li:first-child > a, .pagination li:first-child > span {
      display: none; }
    .pagination li:last-child > a, .pagination li:last-child > span {
      display: none; }
  .pagination li.pagination-prev a {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px; }
  .pagination li.pagination-next a {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px; }
  .pagination .active a {
    z-index: 3;
    color: #fff;
    background-color: #205493;
    border-color: #205493; }
  .pagination .disabled a {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd; }
    .pagination .disabled a:hover {
      color: #777;
      cursor: not-allowed;
      background-color: #fff;
      border-color: #ddd; }

a {
  cursor: pointer; }

.pagination-buttons .pagination-button {
  display: inline;
  font-size: 10px;
  height: 20px;
  padding: 2px;
  width: 20px; }

.autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal; }

.afsds-category-type {
  color: #205493;
  font-weight: bold;
  text-transform: capitalize; }

.afsds-item-title, .afsds-item-category {
  display: block;
  line-height: 2; }

.afsds-search-button {
  width: 55px;
  height: 55px;
  padding: 8px;
  display: inline-block;
  background-color: #fff;
  border: 2px solid #dce0e9;
  border-left: none;
  border-radius: 2px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none; }
  .afsds-search-button i {
    color: #205493;
    font-size: 24px; }
  .afsds-search-button:hover, .afsds-search-button:focus {
    background-color: #f5f7f9;
    border: 2px solid #205493; }

#afsds-resultsSearchContainer .typeaheadDiv {
  border: 2px solid #0c6291;
  border-top: none;
  height: 0; }

#afsds-resultsSearchContainer .typeaheadCategory {
  font-size: 13px;
  padding: 10px;
  background-color: #f5f7f9;
  text-transform: uppercase;
  cursor: default;
  color: #212121;
  border-left: 2px solid #dce0e9;
  border-right: 2px solid #dce0e9;
  border-top: 1px solid #dce0e9; }

#afsds-resultsSearchContainer .typeaheadGroup:last-child {
  border-bottom: 2px solid #dce0e9; }

#afsds-resultsSearchContainer .typeaheadPhrases {
  font-size: 14px;
  background-color: white;
  text-transform: capitalize;
  cursor: pointer; }
  #afsds-resultsSearchContainer .typeaheadPhrases:hover {
    background-color: #F2F2F2;
    text-decoration: none; }
  #afsds-resultsSearchContainer .typeaheadPhrases p {
    padding: 0px;
    margin: 0px;
    border: 1px solid #dce0e9;
    border-bottom: none;
    border-left-width: 2px;
    border-right-width: 2px;
    transition: all .2s ease 0s; }
    #afsds-resultsSearchContainer .typeaheadPhrases p:focus {
      font-weight: bold;
      text-decoration: none;
      border-left: 5px solid #205493; }
    #afsds-resultsSearchContainer .typeaheadPhrases p a {
      font-weight: normal;
      color: #0c6291;
      padding: 10px;
      display: block; }
      #afsds-resultsSearchContainer .typeaheadPhrases p a:focus, #afsds-resultsSearchContainer .typeaheadPhrases p a:hover {
        font-weight: bold;
        text-decoration: none;
        border-left: 5px solid #205493; }

#afsds-searchInput {
  border-radius: 2px;
  height: 55px;
  border-width: 2px;
  padding-left: 10px;
  outline: none;
  color: #8994a1; }
  #afsds-searchInput::placeholder {
    color: #8994a1; }

.afsds-header #afsds-searchInput {
  height: 51px;
  border-width: 2px;
  border-radius: 2px;
  padding-left: 10px;
  outline: none;
  color: #fff; }
  .afsds-header #afsds-searchInput::placeholder {
    color: #fff; }
  @media (max-width: 599px) {
    .afsds-header #afsds-searchInput {
      height: 36px; } }
  .afsds-header #afsds-searchInput:hover, .afsds-header #afsds-searchInput:focus {
    border: 2px solid #fff;
    border-right: none; }

@media (max-width: 599px) {
  .afsds-header .afsds-top-nav-search {
    height: 36px; } }

.afsds-header .afsds-search-button {
  width: 51px;
  height: 51px;
  padding: 0;
  display: inline-block;
  background-color: transparent;
  border: none;
  border-left: none;
  border-radius: 2px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none; }
  @media (max-width: 599px) {
    .afsds-header .afsds-search-button {
      height: 36px;
      width: 36px; } }
  .afsds-header .afsds-search-button i {
    color: #fff;
    font-size: 24px; }
  .afsds-header .afsds-search-button:hover, .afsds-header .afsds-search-button:focus {
    background-color: rgba(245, 247, 249, 0.5);
    border: 2px solid #fff; }

.hidden508 {
  position: absolute;
  top: -1500px;
  left: -1500px; }

#afsds-searchBtn .fa {
  color: #0c6291;
  font-size: 20px; }

#afsds-searchBtn:hover {
  background: inherit;
  background-color: #e4e4e4;
  color: #FFFFFF; }

.afsds-accessibility-element {
  height: 1px;
  width: 1px;
  display: block;
  position: absolute;
  left: -99999px;
  top: -99999px; }

results-text-search-component {
  padding: 0;
  width: 100%; }

.afsds-banner-warn-txt {
  color: #8e4302; }

.afsds-banner-success-txt {
  color: #1b5e20; }

.afsds-banner-error-txt {
  color: #b51f23; }

.afsds-banner-info-txt {
  color: #434343; }

.afsds-info-content-container {
  background-color: #f5f7f9; }

.afsds-warning-content-container {
  background-color: #fff8e1; }

.afsds-success-content-container {
  background-color: #e8f5e9; }

.afsds-error-content-container {
  background-color: #ffebee; }

.afsds-padding-10-30 {
  padding: 10px 30px; }

.afsds-banner-icon-left {
  text-align: right;
  padding-right: 10px; }

.afsds-banner-padding-10-right {
  padding-right: 10; }

.afsds-banner-header-text {
  font-size: 24px;
  font-weight: bold; }

#horizontal-container {
  height: 300px;
  width: 100%;
  max-width: 1300px; }
  #horizontal-container .afsds-card {
    margin-right: 15px; }

.afsds-card {
  border: 1px solid #dce0e9;
  width: 300px;
  display: inline-block; }
  .afsds-card .afsds-card-toolbar {
    border-top: 1px solid #dce0e9;
    white-space: normal;
    background-color: #fff; }
  .afsds-card img {
    width: 100%;
    height: 100%; }
  .afsds-card.afsds-card-gray {
    background-color: #f5f7f9; }

.afsds-virtual-repeat-container {
  min-height: 300px; }

.afsds-card-landing {
  background-color: #f5f7f9;
  height: 100%;
  width: 100%;
  display: block; }
  @media (max-width: 599px) {
    .afsds-card-landing {
      height: 200px; } }

.afsds-icon-svg-blue {
  fill: #205493; }

.afsds-icons-platform {
  height: 100px; }
  @media (max-width: 599px) {
    .afsds-icons-platform {
      height: 50px; } }

md-toolbar:not(.md-menu-toolbar).afsds-toolbar-theme {
  background-color: #205493;
  padding: 0 10px; }
  md-toolbar:not(.md-menu-toolbar).afsds-toolbar-theme h3 {
    cursor: pointer; }

md-toolbar:not(.md-menu-toolbar).afsds-toolbar-gray {
  background-color: whitesmoke;
  color: black; }

.afsds-list-item-nav {
  min-height: 0; }
  .afsds-list-item-nav:before {
    min-height: 0; }

.demo-container {
  width: 900px;
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  margin-top: 40px; }

.wrapper-box {
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12); }

.code-wrapper {
  border: 1px solid #eee;
  padding: 10px; }

.mt-code {
  padding: 5px 0 5px 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03); }

.mt-demo {
  padding: 30px; }

md-tab-content {
  padding: 10px; }

.displayNone {
  display: none; }

.displayNone {
  display: none; }

.afsds-pull-right {
  position: absolute;
  right: -1px; }

.afsds-pull-right-icon {
  position: absolute;
  font-size: 30px;
  right: 10px;
  top: 3px; }

.afsds-no-hover {
  font-style: italic;
  cursor: no-drop;
  color: rgba(0, 0, 0, 0.38); }
  .afsds-no-hover:hover {
    background-color: #E5E5E5;
    color: rgba(0, 0, 0, 0.38);
    cursor: no-drop; }

md-checkbox[disabled].afsds-primary-checkbox {
  cursor: no-drop; }

.afsds-z-index-5 {
  z-index: 5; }

.afsds-example-page-container {
  border: 2px solid #8994a1;
  margin: 10px; }
  @media (max-width: 599px) {
    .afsds-example-page-container {
      border: none;
      margin: 0; } }
