
    #horizontal-container {
        height: 300px;
        width: 100%;
        // max-width: 830px; 
        max-width: 1300px;
        
        .uscb-card {
            margin-right: 15px;        
        }
        
    }

    .uscb-card {
        border: 1px solid $uscb-primary-gray;
        width: 300px;
        display: inline-block;
        
        .uscb-card-content {
            
        }

        .uscb-card-toolbar {
            border-top: 1px solid $uscb-primary-gray;
            white-space: normal;
            background-color: $uscb-white;
        }

        img{
            width: 100%;
            height: 100%;
        }
        
        &.uscb-card-gray {
            background-color: $uscb-light-gray;
        } 
    }  

.uscb-virtual-repeat-container {
    min-height: 300px;
};

.uscb-card-landing {
    background-color: $uscb-light-gray;
    height: 100%;
    width: 100%;
    display: block;
    
    @media(max-width: 599px){
        height: 200px;
    }
}




