// Primary Colors
$afsds-primary-blue: #205493;
$afsds-light-blue: #1276db;

$afsds-dark-gray: #8994a1;
$afsds-primary-gray: #dce0e9;
$afsds-light-gray: #f5f7f9;

$afsds-white: #fff;
$afsds-black: #212121;

//Error Colors
$afsds-error-background:  #ffebee;
$afsds-error-text: #b51f23 ;

//Warning Colors

$afsds-warning-background: #fff8e1;
$afsds-warning-text: #8e4302;

//Success Colors

$afsds-success-background: #e8f5e9;
$afsds-success-text: #1b5e20;

//Informational Colors

$afsds-info-background: $afsds-light-gray;
$afsds-info-text: #434343;