@import './afsds-colors.scss';
@import './app/layout/afsds-layout.scss';
@import './app/buttons/afsds-button.scss';
@import './app/colors/color-helper-component/color-helper.scss';
@import './app/GridList/afsds-gridlist.scss';
@import './app/forms-input/afsds-form-input.scss';
@import './app/header/afsds-header.scss';
@import './app/footer/afsds-footer.scss';
@import './app/tooltips/afsds-tooltips.scss';
@import './app/typography/afsds-typography.scss';
@import './app/chips/afsds-chips.scss';
@import './app/toasts/afsds-toasts.scss';
@import './app/tabs/afsds-tabs.scss';
@import './app/progress/afsds-progress.scss';
@import './app/pagination/afsds-pagination.scss';
@import './app/Search/afsds-search-pattern.scss';
@import './app/display-banner/afsds-display-banner.scss';
@import './app/cards/afsds-cards.scss';
@import './app/icons/afsds-icons.scss';



md-toolbar:not(.md-menu-toolbar) {
  &.afsds-toolbar-theme{
    background-color: $afsds-primary-blue;
    padding: 0 10px;
      
      h3 {
          cursor: pointer;
      }
  }

  &.afsds-toolbar-gray{
    background-color: whitesmoke;
    color: black;
  }
}

.afsds-list-item-nav {
    min-height: 0;
    
    &:before {
        min-height: 0;
    }
}
  
.demo-container {
  width: 900px;
  border: 1px solid rgba(0,0,0,.03);
  box-shadow: 0 2px 2px rgba(0,0,0,.24),0 0 2px rgba(0,0,0,.12);
  margin-top: 40px;
}

.wrapper-box{
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12)
}
.code-wrapper{
  border: 1px solid #eee;
  padding: 10px;
}

//Button styles
.mt-code {
  padding: 5px 0 5px 30px;
  border-bottom: 1px solid rgba(0,0,0,.03);
}
.mt-demo {
  padding: 30px;
}

md-tab-content {
    padding: 10px;
}
.displayNone{
  display: none;
}
.displayNone{
  display: none;
}
.afsds-pull-right{
  position:absolute;
  right: -1px;
}

.afsds-pull-right-icon{
  position: absolute;
  font-size: 30px;
  right: 10px;
  top:3px;
}
.afsds-no-hover{
  font-style: italic;
  cursor: no-drop;
  color:rgba(0,0,0,0.38);
  &:hover{
    background-color: #E5E5E5;
    color:rgba(0,0,0,0.38);
    cursor: no-drop
  }
}

md-checkbox[disabled].afsds-primary-checkbox{
  cursor: no-drop;
}
.afsds-z-index-5 {
  z-index: 5;
}

.afsds-example-page-container {
    border: 2px solid $afsds-dark-gray;
    margin: 10px;
    
     @media(max-width: 599px){
        border: none;
        margin: 0;    
    }
}
