// Primary Colors
$uscb-primary-blue: #205493;
$uscb-light-blue: #1276db;

$uscb-dark-gray: #8994a1;
$uscb-primary-gray: #dce0e9;
$uscb-light-gray: #f5f7f9;

$uscb-white: #fff;
$uscb-black: #212121;

//Error Colors
$uscb-error-background:  #ffebee;
$uscb-error-text: #b51f23 ;

//Warning Colors

$uscb-warning-background: #fff8e1;
$uscb-warning-text: #8e4302;

//Success Colors

$uscb-success-background: #e8f5e9;
$uscb-success-text: #1b5e20;

//Informational Colors

$uscb-info-background: $uscb-light-gray;
$uscb-info-text: #434343;