.uscb-learnmore-emp-icon{
    height: 60px;
    width: 30px;
}
.uscb-learnmore-link-container{
    background-color: #fff;
    height: 48px;  
    text-align: center;
     border: 1px solid $uscb-primary-gray;
     border-top: none;
     width: auto;
     @media(min-width: 1280px){
        width: 360px;
     }
}