@mixin uscb-levels-style($mg-btm,$bg-col){
    border-bottom: 1px solid #BABABA;
    background-color: $bg-col;
    font-size: 13px;
    text-transform: capitalize;
    position: relative;
    color: $uscb-primary-blue;
    margin-bottom: $mg-btm;
    font-weight: normal;
}

.accordion-panel-level-0{
    background-color: $uscb-dark-gray;
    height: 40px;
    width: 100%;
}


.accordion-panel-level-1{
    background-color: $uscb-primary-gray;
    height: 40px;
    width: 100%;
}
.accordion-panel-level-2{
    background-color: $uscb-light-gray;
    height: 40px;
    width: 100%;
}
.accordion-panel-level-3{
    background-color: #fff;
    height: 40px;
    width: 100%;
}

.uscb-accordion-level-container {
    ul{
        padding: 0;
    }
    &ul{
        padding: 0;
    }

    li{
        list-style-type: none;
    }

    md-checkbox{
        margin-bottom: 0;
        position: absolute;
        right: 40px;
    }

    label{
        padding: 15px;
        border: 1px solid #eee;
        vertical-align: middle;
        display: block;
        width: 97%;
    }
    .uscb-li-no-padding{
        padding: 0px;
    }

    .uscb-accordion-levl0{
        background-color:#c9c9cb;
    }
    
    .uscb-accordion-levl1{
        background-color: #e4e4e4
    }

    .uscb-accordion-levl2{
        background-color: #f2f2f2;
    }

    .uscb-accordion-levl3{
        background-color: #fff;
    }
    
}
.random{
    
line-height: 23px;
}

md-checkbox.uscb-primary-checkbox:not(.md-checked) .md-icon{
    border-color:$uscb-primary-blue;
}

md-checkbox.uscb-primary-checkbox[disabled]:not(.md-checked) .md-icon{
    border-color: rgba(0,0,0,0.38);
}

.uscb-geo-filter-input, .uscb-geo-filter-select {
    width: 100%;
    height: 30px;
}

#uscb-tempContainer{
    width: 400px;
    font: 16px Arial, Verdana, sans-serif;
    border-top: 1px solid #BABABA;
    border-left: 1px solid #BABABA;
    border-right: 1px solid #BABABA;
}

.uscb-navBox {
    background-color:#235B7F;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  not supported by any browser */
    md-checkbox .md-container {
        left: auto;
        right: 10px;
    }
    
    md-checkbox:last-of-type {
        margin: 0;    
        padding: 15px 10px 15px 10px;
    }
    
    md-checkbox .md-label {
        width: 90%;
        margin-left: 0;
    }
}

.uscb-facetHeaderDiv{
    margin: 0 0 5px 0;
}

.uscb-facetHeaderName{
    text-transform: capitalize;
    margin-bottom: 10px;
    position: relative;
    padding: 15px 10px 15px 10px;
}

.uscb-filterHeaderName{
    border-bottom: 1px solid #BABABA;
    background-color: $uscb-light-gray;
    font-size: 13px;
    text-transform: capitalize;
    position: relative;
    color: #0c6291;

    &:hover{
        background-color: #235B7F;
        color: #fff;
    }
}

.uscb-multiFilterHeaderName {
    border-bottom: 1px solid #BABABA;
    background-color: #FFFFFF;
    /*font-weight: normal;*/
    font-size: 12px;
    text-transform: capitalize;
    color: #33343e;
}

.uscb-filterInput {
    width: 100%;
    padding: 10px 0px 10px 3px;
    border: 0px;
    font-size: 14px;
}

.uscb-unselectable{
    color: #7e7e7e;
    cursor: default;
    font-style: italic;
}

.uscb-filter-level0{
    @include uscb-levels-style(1px,#c9c9cb);
    &:hover{
         background-color: #235B7F;
        color: white;
    }
}

.uscb-filter-level1{
    @include uscb-levels-style(1.5px, $uscb-light-gray);
    .uscb-geo{
        font-size: 13px;
    }
     &:hover{
         background-color: #235B7F;
        color: white;
    }
}

.uscb-geo{
    color: $uscb-primary-blue;
    font-size: 11px;
}

.uscb-filter-level2{
    @include uscb-levels-style(auto, #f2f2f2);
     &:hover{
         background-color: #235B7F;
        color: white;
    }
}
.uscb-filter-level3{
    @include uscb-levels-style(auto,#fff);
     &:hover{
         background-color: #235B7F;
        color: white;
    }
}

.uscb-filter-view-more-indicator-collapsed{
    background-color: gray;
    height: 5px;
}

.uscb-filter-view-more-indicator-open{
    background-color: #0c6291;
    color:white;
    font-size: smaller;
    text-align: center;
    padding: 3px;
    cursor: pointer;
}

input[type="checkbox"][disabled]{
    color: #666666;
}

/*
 * Suppress the X in IE text boxes.
 * Setting the dimensions to zero turns out to be
 * less troublesome than turning off the visibility.
 */
.uscb-filterInput::-ms-clear,
.uscb-geographyFilterHeaderInput::-ms-clear {
   width:  0;
   height: 0;
}
 
 .uscb-input-wrapper {
     position: relative;
 }

 .uscb-filterpane-clear-input{
     color: #000000;
     cursor: pointer;
     position: absolute;
     right: 10px;
     top: 14px;
     &:hover{color:#000; text-decoration: none}
     &:active{color:#000; text-decoration: none}
     &:focus{color:#000; text-decoration: none}
 }

.filterControl{
    padding: 10px 0;
    position: relative;

    span{
        text-transform: uppercase;
        font-weight: bold;
        color: #112e51;
    }
}

.hidePane {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}
.showMoreBtn {
  text-align: center;
  padding: 3px;
  color: #fff;
  cursor: pointer;
  background-color: #235B7F
}

.uscb-filterHeaderDiv {
    padding: 15px 10px 15px 10px;
}
