<display-wrapper title="Accordion">
    <uscb-description>
        <h4>Description</h4>
        <h5>Purpose</h5>
        <p>Accordions are used to present large bodies of content in a condensed, hierarchical manner, with children expanding
            upon user action. </p>
        <h5>Usage</h5>
        <p>Accordions present content through click-through hierarchies. Parent content labels are displayed first, and subsequent levels of children content expand when the user interacts with the parent content's label. The search "Filters" side panel is the only occurrence of accordion in the platform. Topics, Geographies, Years, Survey/Dataset, and Industry (NAICS) are the first level content items in the Filter side panel. Child content items use a different color to indicate placement under parent content, and have checkbox interaction patterns.</p>
        <h5>Types</h5>
        <ul>
            <li>Search "Filters" side panel.</li>
        </ul>
        <h5>Do</h5>
        <ul>
            <li>Use hover states on accordion items to reflect interactivity.</li>
            <li>Include option for the user to search items instead of clicking through to find, if the accordion has many content
                items.</li>
            <li>Allow for a scroll interaction if the accordion becomes too large for the screen.</li>
        </ul>
        <h5>Do not</h5>
        <ul>
            <li>Bury content in more than 3 layers or hierarchy. If content is under 3 levels, use other means of displaying
                content items.</li>
        </ul>
    </uscb-description>
    <uscb-code>
        <h4>Code</h4>
        <md-tabs class="uscb-tabs">
            <md-tab label="HTML">

            </md-tab>
            <md-tab label="JS"></md-tab>
        </md-tabs>
    </uscb-code>
    <uscb-demo>
        <h4>Example</h4>

        <div class="accordion-wrapper">

            <!--<ul class="uscb-accordion-level-container">
                <!--Level 0--
                <li ng-repeat="level0 in vm.data" class="uscb-li-no-padding">
                    <ul ng-if="!vm.isEmptyArray(level0)">
                        <!--level 1--
                        <li ng-if="!vm.isEmptyArray(level0)" class="uscb-accordion-levl0 " toggle-show>
                            <label for=""> 
                                 {{level0.fullname}}
                                <i  aria-hidden="true" class="fa fa-angle-down"></i> 
                             </label>
                        </li>
                        <div>
                            <li ng-repeat="level1 in level0.children">
                                <ul ng-if="!vm.isEmptyArray(level1)">
                                    <!--level 2--
                                    <li ng-if="!vm.isEmptyArray(level1)" toggle-show>
                                        <label for=""> 
                                 {{level1.fullname}}
                                <i  aria-hidden="true" class="fa fa-angle-down"></i> 
                             </label>

                                    </li>
                                    <div>
                                        <li ng-repeat="level2 in level1.children">
                                            <ul ng-if="!vm.isEmptyArray(level2)">
                                                <!--level3-
                                                <li ng-if="!vm.isEmptyArray(level2)">
                                                    <label for=""> 
                                                        {{level2.fullname}}
                                                        <i  aria-hidden="true" class="fa fa-angle-down"></i> 
                                                    </label>

                                                </li>
                                                <li ng-repeat="level3 in level2.children">

                                                    <label ng-if="vm.isEmptyArray(level3)" class="uscb-accordion-levl3" for="">{{level3.fullname}} <md-checkbox  class="uscb-primary-checkbox"></md-checkbox></label>

                                                </li>
                                            </ul>
                                            <label ng-if="vm.isEmptyArray(level2)" class="uscb-accordion-levl2" for="">{{level2.fullname}} <md-checkbox  class="uscb-primary-checkbox" ></md-checkbox></label>

                                        </li>
                                    </div>
                                </ul>

                                <label ng-if="vm.isEmptyArray(level1)" class="uscb-accordion-levl1" for="">{{level1.fullname}} <md-checkbox  class="uscb-primary-checkbox"></md-checkbox></label>

                            </li>
                        </div>
                    </ul>

                    <label ng-if="vm.isEmptyArray(level0)" class="uscb-accordion-levl0" for="">{{level0.fullname}} <md-checkbox  md-no-ink aria-label="{{level0.fullname}}" class="uscb-primary-checkbox"> </md-checkbox></label>

                </li>
            </ul>-->

            <ul class="uscb-accordion-level-container">
                
                 <li ng-repeat="level0 in vm.data" class="uscb-li-no-padding">
                     <!--levl 0-->
                    <ul ng-if="!vm.isEmptyArray(level0)">
                          <li ng-if="!vm.isEmptyArray(level0)" class="uscb-accordion-levl0 " toggle-show>
                            <label for=""> 
                                 {{level0.fullname}}
                                <i  aria-hidden="true" class="fa fa-angle-down"></i> 
                             </label>
                        </li>
                        <div>
                              <li ng-repeat="level1 in level0.children">
                                  <!--level 1-->
                                    <ul ng-if="!vm.isEmptyArray(level1)">
                                        <li ng-if="!vm.isEmptyArray(level1)" toggle-show>
                                            <label for=""> 
                                                {{level1.fullname}}
                                                <i  aria-hidden="true" class="fa fa-angle-down"></i> 
                                            </label>
                                        </li>

                                        <div>
                                            <li ng-repeat="level2 in level1.children">
                                                <!--level 2 is not empty-->
                                                <li ng-if="!vm.isEmptyArray(level2)">
                                                    <!--display level 2 inner elements-->
                                                    <ul>
                                                        
                                                    </ul>
                                                </li>
                                                    <!--level 2 is empty-->
                                                  <label ng-if="vm.isEmptyArray(level2)" class="uscb-accordion-levl2" for="">{{level2.fullname}} <md-checkbox  class="uscb-primary-checkbox" ></md-checkbox></label>
                                            </li>
                                        </div>
                                    </ul>

                                  <label ng-if="vm.isEmptyArray(level1)" class="uscb-accordion-levl1" for="">{{level1.fullname}} <md-checkbox  class="uscb-primary-checkbox"></md-checkbox></label>
                              </li>
                        </div>
                    </ul>
                    
                    <label class="uscb-accordion-levl0" for="" ng-if="vm.isEmptyArray(level0)">{{level0.fullname}} <md-checkbox  md-no-ink aria-label="{{level0.fullname}}" class="uscb-primary-checkbox"> </md-checkbox></label>
                 </li>
            </ul>
        </div>
    </uscb-demo>
</display-wrapper>