a {
    color: $uscb-primary-blue;
    text-decoration: none;
    
    &:focus{
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
        color: #23527c;
        text-decoration: underline;
    }

    &:hover{
        outline: 0;
        color: #23527c;
        text-decoration: underline;
    }
    &:active{
        outline: 0;
    }
}

.md-button {
    font-weight: 700;
    margin: 0;
    text-transform: none;
    font-size: 16px;
    
     @media (max-width: 600px){
         font-size: 13px;
         font-weight: 500;
    }
    
    &.uscb-primary-button {
        border-radius: 2px;    
        background-color: $uscb-white;
        color: $uscb-primary-blue;
        border: 1px solid $uscb-primary-blue;
         
        &:hover:not([disabled]), &:focus:not([disabled]) {
            background-color: $uscb-primary-blue;
            color: $uscb-white;
            border: 1px solid $uscb-white;
            cursor: pointer;
        }
        
        span {
            margin-left: -5px;
            padding-right: 5px;
            padding-left: 5px;
        }
        
        .material-icons, .fa {
            vertical-align: middle;
            padding-left: 10px;
        }
    }
    
    &.uscb-alternate-button {
        border-radius: 2px;    
        background-color: $uscb-white;
        color: $uscb-light-blue;
        border: 1px solid $uscb-light-blue;
         
        &:hover:not([disabled]), &:focus:not([disabled]) {
            background-color: $uscb-light-blue;
            color: $uscb-white;
            border: 1px solid $uscb-white;
            cursor: pointer;
        }
        
        span {
            margin-left: -5px;
            padding-right: 5px;
            padding-left: 5px;
        }
        
        .material-icons, .fa {
            vertical-align: middle;
            padding-left: 10px;
        }
    }

    &.uscb-warn-button {
        border-radius: 2px;    
        background-color: $uscb-warning-background;
        color: $uscb-warning-text;
        border: 1px solid $uscb-warning-text;
        
        &:hover:not([disabled]), &:focus:not([disabled]) {
            background-color: $uscb-warning-text;
            color: $uscb-white;
            border: 1px solid $uscb-white;
            cursor:pointer;
        }
        
        .material-icons, .fa {
            vertical-align: middle;
            padding-left: 10px;
        }
    }
    
    &.uscb-error-button {
        border-radius: 2px;    
        background-color: $uscb-error-background;
        color: $uscb-error-text;
        border: 1px solid $uscb-error-text;
        
        &:hover:not([disabled]), &:focus:not([disabled]) {
            background-color: $uscb-error-text;
            color: $uscb-white;
            border: 1px solid $uscb-white;
            cursor:pointer;
        }
        
        .material-icons, .fa {
            vertical-align: middle;
            padding-left: 10px;
        }
    }
    
    &.uscb-success-button {
        border-radius: 2px;    
        background-color: $uscb-success-background;
        color: $uscb-success-text;
        border: 1px solid $uscb-success-text;
        
        &:hover:not([disabled]), &:focus:not([disabled]) {
            background-color: $uscb-success-text;
            color: $uscb-white;
            border: 1px solid $uscb-white;
            cursor:pointer;
        }
        
        .material-icons, .fa {
            vertical-align: middle;
            padding-left: 10px;
        }
    }
    
    &.uscb-info-button {
        border-radius: 2px;    
        background-color: $uscb-info-background;
        color: $uscb-info-text;
        border: 1px solid $uscb-info-text;
        
        &:hover:not([disabled]), &:focus:not([disabled]) {
            background-color: $uscb-info-text;
            color: $uscb-white;
            border: 1px solid $uscb-white;
            cursor:pointer;
        }
        
        .material-icons, .fa {
            vertical-align: middle;
            padding-left: 10px;
        }
    }

    &.uscb-primary-link {
        color: $uscb-primary-blue;
        min-width:0;
        padding: 0;
        
        &:hover, &:focus {
          text-decoration: underline;
          background-color: transparent;
        }
        
        .material-icons, .fa {
            vertical-align: middle;
        }
        
    }

    &.uscb-secondary-link {
        color: $uscb-white;
        min-width:0;
        padding: 0;
      
        &:hover, &:focus {
            text-decoration: underline;
            background-color: transparent;
        }
      
        .material-icons, .fa {
            vertical-align: middle;
        }
    }
    
    &.uscb-large-button {
        height: 80px;
        font-size: 1.4em;
        border-radius: 0;
        padding: 10px;
        
        span {
            margin-left: -5px;
            padding-right: 5px;
        }
        
        .material-icons, .fa {
            vertical-align: middle;
            padding-left: 10px;
        }
    }
    
    &[disabled] {
        color: $uscb-dark-gray;
        border: 0;
        background-color: $uscb-primary-gray;
        
        &:hover, &:focus {
            text-decoration: none;  
        }
    }
    
    &.fixed-scroll-button {
        position: fixed;
        right: 20px;
        bottom:20px;
    }

    &.uscb-toggle-sidenav {
        position: absolute;
        left: 0;
        top: 10px;
        border-radius: 0;
        width: 14px;
        height: 55px;
        font-size: 20px;
        margin: 0;
        padding: 0;
        background: $uscb-light-gray;
        border: 1px solid $uscb-primary-blue;
        border-left: none;
        box-shadow: 1px 1px 1px $uscb-light-gray;
        color: $uscb-primary-blue;
        z-index: 65;
    }
}


.buttonSection {
    background: $uscb-light-gray;
    border-radius: 3px;
    text-align: center;
    margin: 1em;
    position: relative !important;
    padding-bottom: 10px;
    height: 70px;
}

.uscb-library-nav-link {
    margin: 0;
}

.uscb-inline-link {
    min-height: 0;
    line-height: inherit;
    margin: 0;
}

.uscb-search-result-title-link {
    text-transform: capitalize;
    font-weight: bold; 
    font-size: 16px;
    line-height: normal;
    min-height: 0;
    padding: 0;
    margin: 0;
    white-space: normal;
}

.uscb-search-result-url-link {
    text-transform: lowercase;
    font-size: 12px;
    text-overflow: ellipsis;
    line-height: normal;
    min-height: 0;
    padding: 0;
    margin: 0 0 15px 0;
}

/* DELETE THIS ONCE WE HAVE NEW MAPS ICONS AND LAYOUT */


.btn {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}