@mixin title-bar-setup(){
    background-color: $uscb-light-gray;
    border: 1px solid $uscb-primary-gray;
}

html {
    background: $uscb-white;
}

body {
    overflow: visible !important;
    text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  -webkit-font-feature-settings: "kern";
          font-feature-settings: "kern";
          background-color: #fff;
}

.uscb-layout-section {
    min-height: 100px;
}

.uscb-layout-section-sidenav-open {
    left: 30%;
    position: relative;
    max-width: 70%;
    
    @media (max-width: 960px) {
        left: 30%;
        max-width: 70%;
    }
    
    @media (max-width: 600px) {
        left: 0;
        max-width: 100%;
    }
}

.uscb-layout-closed-sidenav {
    background-color: white;
    border-right: 1px solid $uscb-light-gray;
}


.uscb-search-results-container {
    background-color: $uscb-white;
    padding: 10px;
}

.uscb-search-results-container-overflow {
    background-color: $uscb-white;
    padding: 10px;
    overflow-y: scroll;
}

.uscb-content-container {
    background-color: $uscb-white;
}

.uscb-content-container-banner {
    background-color: $uscb-white;
    position: relative;
    overflow: hidden;
}

.uscb-content-container-VH-100-lg {
    height: calc(100vh - 100px);
    min-height: 568px;
    position: relative;
    z-index: 10;
    
    @media (max-width: 599px) {
        min-height: 568px;
        height: auto;
    }
}

.uscb-content-container-VH-100 {
    height: calc(100vh - 100px);
    min-height: 568px;
    position: relative;
    z-index: 10;
    
    @media (max-width: 599px) {
        min-height: 538px;   
    }
    
}

.uscb-content-container-results-all{
    
}


.uscb-content-wrapper {
    position: relative;
    width: 100%;
    background-color: $uscb-primary-gray;
}

.uscb-content-wrapper-fixed-height {
    position: relative;
    width: 100%;
    height: 100vh;
    border: 1px solid $uscb-light-gray;
}

.uscb-content-overflow-hidden{
    overflow: hidden;
    &.md-locked-open{
        display: block;
    }
}

.uscb-content-min-height{
    min-height: 900px;
}

md-sidenav {
    border-right: 1px solid $uscb-light-gray;
    width: 30%;
    overflow-x: hidden;
    box-shadow: 6px 0px 2px rgba($uscb-black,.05);
    
    @media (max-width: 960px) {
        width: 30%;
    }
    
    @media (max-width: 600px) {
        width: 100%;
        border-right: none;
    }
}

.uscb-blue-content-container {
    background-color: $uscb-primary-blue;
}

.uscb-blue-gradient-content-container {
    background-color: $uscb-primary-blue;
}

.uscb-white-content-container {
    background-color: $uscb-white;
}

.uscb-grey-content-container {
    background-color: $uscb-light-gray;
}

.uscb-dark-grey-content-container {
    background-color: $uscb-dark-gray;
}

.uscb-hr-1 {
    margin: 0;
    border: 1px solid $uscb-primary-gray;
    border-bottom: none;
}

.uscb-hr-2 {
    margin: 0;
    border: 1px solid $uscb-primary-gray;
}

.uscb-margin-0 {
    margin: 0;
}

.uscb-padding-0 {
    padding: 0;
    
    @media (max-width: 600px) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

iframe {
    width:100%;
}

.uscb-padding-10 {
    padding: 10px;
}

.uscb-with-warning-message-without-filters {
    /*height: calc(100vh - 355px);*/
     height: calc(100vh - 270px);
}

.uscb-with-warning-message-with-filters {
    /*height: calc(100vh - 391px);*/
     height: calc(100vh - 306px);
}

.uscb-without-warning-message-without-filters {
    /*height: calc(100vh - 300px);*/
    height: calc(100vh - 200px);
}

.uscb-without-warning-message-with-filters {
    height: calc(100vh - 238px);
}
// Fix for thematic map overlfow issues
#titleContainerPositioning{
    width: auto !important;
}

.uscb-shareModal-position{
    position: absolute;
    right: 0;
    width: 25%;
}

.uscb-panel-title{
    color: #fa39c3
}

.uscb-panel-body{
    text-align: right;
}
.uscb-tables-restrictContainer {
    width: 100%;
}


#uscb-layout-desktopHideFilter{
    @media (max-width: 600px){
        display: none !important;
    }
}

.uscb-single-search-cont-height {
    height: calc(100vh - 190px);
    
    @media (max-width: 600px){
        height: inherit;
        margin-top: 20px;
    }
}

.uscb-single-search-cont-no-disc{
    height: calc(100vh - 100px);
    
    @media (max-width: 600px){
        height: calc(100vh - 120px);
        margin-top: 20px;
    }
}

.uscb-searchText-container{
    background-color: #F2F2F2;
    padding: 10px;
    height: 60px;
    position: relative;
    z-index: 1000;
}

.uscb-layout-typeahead-container{
    background-color: #F2F2F2;
    padding: 10px;
    height: 60px;
    position: relative;
    z-index: 100;
}

.search-panel-head{
    padding: 10px 0;
}

.uscb-margin-bottom-0{
    margin-bottom: 0;
}
.uscb-height-auto {
    height: auto !important;
}

.uscb-padding-left {
    padding-left: 10px;
}
.uscb-video-container {
    width: 853px;
}

.uscb-no-overflow-x{
    overflow-x: hidden;
}

.uscb-image-tooltip-container {
    margin-bottom: -20px;
    z-index: 5;
    position: relative;
}

.uscb-background-light-gray{
    background-color: $uscb-light-gray;
}

.uscb-layout-title-bar{
    @include title-bar-setup();
}

.uscb-layout-learn-more{
    @include title-bar-setup();
    width: auto;
     margin-top: 10px;
    @media(min-width: 1280px){
        margin-top: auto;
        width: 300px;
    }
}

.uscb-bottom-sheet {
    height: 50vh;
    min-height: 400px;
    overflow-y: auto;
}

.uscb-layout-pos-right{
    position: absolute;
    right: 0;
    top: 0;
}

.uscb-remove-left-right-borders{
    padding-left: 0;
    padding-right: 0;
    border-left: none;
    border-right: none;
}

.uscb-sidenav-results-section {
    
}

.uscb-padding-LR-5 {
    padding-left: 5%;
    padding-right: 5%;
}

.uscb-padding-LR-5-0 {
    padding-left: 5%;
    padding-right: 5%;
    
    @media(max-width: 600px){
        padding-left: 0;
        padding-right: 0;
    }
    
}

.uscb-padding-LR-0-5 {
    padding-left: 0;
    padding-right: 0;
    
    @media(max-width: 600px){        
        padding-left: 5%;
        padding-right: 5%;
    }
    
}

.uscb-padding-LR-10-5-0 {
    
    padding-left: 10%;
    padding-right: 10%;
    
    @media(max-width: 960px){
        padding-left: 5%;
        padding-right: 5%;
    }
    
    @media(max-width: 600px){
        padding-left: 0;
        padding-right: 0;
    }
}

.uscb-padding-LR-10-5 {
    
    padding-left: 10%;
    padding-right: 10%;
    
    @media(max-width: 960px){
        padding-left: 5%;
        padding-right: 5%;
    }
}

.uscb-padding-LR-5-xs {
    @media(max-width: 600px){
        padding-left: 5%;
        padding-right: 5%;
    }
}

.uscb-padding-LR-10 {
    padding-left: 10%;
    padding-right: 10%;
}

.uscb-padding-TOP-15 {
    padding-top: 15px;
}

.uscb-padding-TOP-30 {
    padding-top: 30px;
}

.uscb-padding-TOP-45 {
    padding-top: 45px;
}

.uscb-padding-TOP-60 {
    padding-top: 60px;
}

.uscb-padding-TOP-75 {
    padding-top: 75px;
}

.uscb-padding-BTM-15 {
    padding-bottom: 15px;
}

.uscb-padding-BTM-30 {
    padding-bottom: 30px;
}

.uscb-padding-BTM-45 {
    padding-bottom: 45px;
}

.uscb-padding-BTM-60 {
    padding-bottom: 60px;
}

.uscb-padding-BTM-75 {
    padding-bottom: 75px;
}

.uscb-container-min-height{
    min-height: 10px;
}

.uscb-reset-margin{
    margin: 0;
}

.uscb-padding-TB-10{
    padding-top: 10px;
    padding-bottom: 10px;
}

.uscb-border-right{
    border-right: 1px solid #D6D7D9;
    &:last-child{
        border-right: none;
    }
    @media(max-width: 599px){
        &:nth-child(2n){
            border-right: none;
        }
    }
}

.uscb-border-bottom{
    
     @media(max-width: 599px){
          border-bottom: 1px solid #D6D7D9;
         &:last-child{
             border-bottom: none;
         }
     }
}

.uscb-display-block{
    display: block;
}

.layout-row{
    .uscb-flex-override-safari{
        flex: 1 1 auto;

        @media(max-width: 599px){
            flex: 1 1 100%;
        }
    }
}

.uscb-viz-container{
    width: 100%;
    height: 300px;
    
    @media(max-width: 599px){
        height: 145px;   
    }
}

.uscb-map-thumnbnail-size{
    width: 100%;
    height: 300px;

    @media(max-width: 599px){
        height: 75px
    }
}

.uscb-parallax-navigation {
    position: fixed;
    top: 25vh;
    left: 2%;
    z-index: 30;
    
    @media(max-width: 599px){
        display: none;   
    }
    
    
    .uscb-parallax-navigation-indicator {
        height: 20px;
        width: 20px;
        display: block;
        border-radius: 10px;
        margin: 14px 0;
        background-color: rgba($uscb-primary-blue,.1);
        transition: .5s;
        
        &:hover {
            background-color: rgba($uscb-primary-blue,.5);
        }

        &.active {
            background-color: rgba($uscb-primary-blue, 1);
            
            &:hover {
                background-color: rgba($uscb-primary-blue,1);
            }
        }
        
        .uscb-parallax-navigation-link {
            height: 100%;
            width: 100%;
            display: block;
            border-radius: 10px;
        }
    }
    
}


.uscb-content-container-banner:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-attachment : scroll;
    background-position   : 90% center;
    background-size: 45%;
    background-repeat: no-repeat;
    
    @media(max-width: 599px){
        background-position: center 80%;
        background-size: 90%;
    }
}

.uscb-content-container-banner.active:before {
    
}

.uscb-content-container-after-parallax {
    position: relative;
    z-index: 10;
}

.uscb-parallax-container {
    position: relative;
    overflow: hidden;
    z-index: 5;
    
    .uscb-content-container {
        background-color: $uscb-light-gray;
        position: static;
        
        @media(max-width: 599px){
            position: relative;
        }
    }
    
    .uscb-content-container .uscb-parallax-image:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-attachment: fixed;
        background-position: 10% center;
        background-size: 40%;
        background-repeat: no-repeat;
        transition: .3s;
        opacity: 0;
        
        @media(max-width: 599px){
            background-size: 90%;
            background-attachment : scroll;
            opacity: 1;
        }
    }
    
    .uscb-content-container.active .uscb-parallax-image:before {
        opacity: 1;
    }  
}

#banner:before {
    background-image : url(/app/images/3screens.svg);
}

#geoProfileImage:before {
    background-image : url(/app/images/Discover.png);
    background-position: 10% 80%;
    
    @media(max-width: 599px){
        background-position: center 15%;
    }
}

#enhancedMapImage:before {
    background-image : url(/app/images/Visualize.png);
    
    @media(max-width: 599px){
        background-position: center 30%;
    }
}

#shareImage:before {
    background-image : url(/app/images/Interact.png);
    
    @media(max-width: 599px){
        background-position: center 15%;
    }
}