<display-wrapper title="Layout">
  <uscb-description>
        <h4>Description</h4>  
        <h5>Full Width Content</h5> <p>This can be used for general layouts (ex: landing page)</p>
        <h5>Full-Width Content with Side Nav</h5>
        <p>This can be used for layouts with the filter bar collapsed on load of page and one type of content spanning the whole page.  </p>
        <h5>50-50 Content with Side Nav</h5>
        <p>This can be used for layouts with filter bar expanded on load of page. Search results and content on right side use equal amounts of space on page (ex: Tables results). </p>  
        <h5>30-70 Content with Side Nav</h5>
        <p>This can be used for layouts with filter bar collapsed on load of page, search results taking up 30% of page and content taking up 70% of page (ex: Maps results).</p> 
    </uscb-description>
    <uscb-code>
    <h4>Code</h4> 
        <section class="uscb-tabs-wrapper" layout="row">
            <md-tabs class="uscb-tabs" flex="100">
                <md-tab class="uscb-tab" label="HTML">
                <md-content>
                  <xmp>
                      <h3>Full-Width Content</h3>
                      <div layout="row" class="uscb-content-wrapper" id="bottom-sheet-wrapper-1">
                        <div layout="column" flex-gt-xs="90" flex-offset-gt-xs="5" flex-xs="100">
                            <section class="uscb-content-container" layout="column" layout-align="start center">Content Section 1
                                <md-button class="md-button uscb-primary-button" ng-click="vm.openBottomSheet1()">Open Bottom Sheet</md-button>
                            </section>  
                            <section class="uscb-content-container" layout="column" layout-align="start center">Content Section 2</section>  
                            <section class="uscb-content-container" layout="column" layout-align="start center">Content Section 3</section>  
                            <section class="uscb-content-container" layout="column" layout-align="start center">Content Section 4</section>  
                        </div>
                      </div>

                      <h3>Full-Width Content with Sidenav</h3>
                      <div layout="row" class="uscb-content-wrapper" >  
                          <md-sidenav class="md-sidenav-left" md-component-id="leftInner3" md-is-open="true" md-disable-backdrop flex-gt-sm="25" flex-sm="30" flex-xs="100" id="bottom-sheet-wrapper-3">
                                <md-content layout="column">
                                    <span >Sidenav</span>
                                    <md-button class="md-button uscb-primary-button" ng-click="vm.openBottomSheet2()" hide-xs>Open Bottom Sheet</md-button>
                                    <md-button class="md-button uscb-primary-button" ng-click="vm.openBottomSheet3()" hide-gt-xs>Open Bottom Sheet</md-button>
                                </md-content>
                                <section class="uscb-layout-section-mobile">
                                    <md-button class="uscb-toggle-mobile-content" ng-click="mobileContentVisible = !mobileContentVisible">
                                        <span ng-hide="mobileContentVisible">Show Content</span>
                                        <span ng-hide="!mobileContentVisible">Hide Content</span>
                                    </md-button>
                                    <div class="uscb-content-container-mobile" ng-hide="!mobileContentVisible">Mobile Content</div>
                                </section>


                          </md-sidenav>
                          <section class="uscb-layout-section" flex ng-class="{'uscb-layout-section-sidenav-open':!sideNavClosed2}" layout="row" id="bottom-sheet-wrapper-2">
                                <md-button class="md-icon-button uscb-toggle-sidenav" aria-label="Expand Table View" ng-click="vm.toggleLeft3();sideNavClosed2 = !sideNavClosed2" >
                                    <i class="fa fa-angle-double-left" aria-hidden="true" ng-hide="sideNavClosed2"></i>
                                    <i class="fa fa-angle-double-right" aria-hidden="true" ng-hide="!sideNavClosed2"></i>
                                </md-button>
                                <div flex="100" class="uscb-content-container">Content</div>

                          </section>
                      </div>
                  </xmp>
                    
                </md-content>
            </md-tab>
            <md-tab class="uscb-tab" label="JS"></md-tab>
            
        </md-tabs>
        </section>
    
  </uscb-code>
  <uscb-demo ng-controller="layoutCtrl">
    <h4>Example</h4>  
      
     <h3>Full-Width Content</h3>
      <div layout="row" class="uscb-content-wrapper" id="bottom-sheet-wrapper-1">
        <div layout="column" flex-gt-xs="90" flex-offset-gt-xs="5" flex-xs="100">
            <section class="uscb-content-container" layout="column" layout-align="start center">Content Section 1
                <md-button class="md-button uscb-primary-button" ng-click="vm.openBottomSheet1()">Open Bottom Sheet</md-button>
            </section>  
            <section class="uscb-content-container" layout="column" layout-align="start center">Content Section 2</section>  
            <section class="uscb-content-container" layout="column" layout-align="start center">Content Section 3</section>  
            <section class="uscb-content-container" layout="column" layout-align="start center">Content Section 4</section>  
        </div>
      </div>
      
      <h3>Full-Width Content with Sidenav</h3>
      <div layout="row" class="uscb-content-wrapper" >  
          <md-sidenav class="md-sidenav-left" md-component-id="leftInner3" md-is-open="true" md-disable-backdrop flex-gt-sm="25" flex-sm="30" flex-xs="100" id="bottom-sheet-wrapper-3">
                <md-content layout="column">
                    <span >Sidenav</span>
                    <md-button class="md-button uscb-primary-button" ng-click="vm.openBottomSheet2()" hide-xs>Open Bottom Sheet</md-button>
                    <md-button class="md-button uscb-primary-button" ng-click="vm.openBottomSheet3()" hide-gt-xs>Open Bottom Sheet</md-button>
                </md-content>
                <section class="uscb-layout-section-mobile">
                    <md-button class="uscb-toggle-mobile-content" ng-click="mobileContentVisible = !mobileContentVisible">
                        <span ng-hide="mobileContentVisible">Show Content</span>
                        <span ng-hide="!mobileContentVisible">Hide Content</span>
                    </md-button>
                    <div class="uscb-content-container-mobile" ng-hide="!mobileContentVisible">Mobile Content</div>
                </section>
                
                
          </md-sidenav>
          <section class="uscb-layout-section" flex ng-class="{'uscb-layout-section-sidenav-open':!sideNavClosed2}" layout="row" id="bottom-sheet-wrapper-2">
                <md-button class="md-icon-button uscb-toggle-sidenav" aria-label="Expand Table View" ng-click="vm.toggleLeft3();sideNavClosed2 = !sideNavClosed2" >
                    <i class="fa fa-angle-double-left" aria-hidden="true" ng-hide="sideNavClosed2"></i>
                    <i class="fa fa-angle-double-right" aria-hidden="true" ng-hide="!sideNavClosed2"></i>
                </md-button>
                <div flex="100" class="uscb-content-container">Content</div>
                
          </section>
      </div>
    
  </uscb-demo>
</display-wrapper>