.uscb-tabs-wrapper {
     background-color: $uscb-light-gray;
    .uscb-tabs {
        
        .md-tab {
            font-size: 18px;
            color: $uscb-dark-gray;
            text-overflow: inherit;
            text-transform: capitalize;
            padding: 20px 12px;
            padding-bottom: 0;
        }
        
        .md-tab.md-active {
            color: $uscb-primary-blue;
            font-weight: bold;
        }
        
        md-tabs-wrapper {
           
            height: 60px;
           
        }
        
        md-tab-content {
            top: 15px;
        }
        
        md-ink-bar {
            color: $uscb-primary-blue;
            background: $uscb-primary-blue;
            height: 4px;
            border-radius: 2px;
            margin: 0px 2px;
            bottom: 0px;
        }
        
        md-tabs-canvas {
            margin: 0;
            overflow: visible;
        }
        
        md-pagination-wrapper {
            height: 60px;
        }
        
        md-prev-button {
            display: none;   
        }
        
        md-next-button {
            display: none;   
        }
 
    }
    
    .uscb-tabs-sidenav {
         
        md-tabs-wrapper {
            padding: 0;    
        }
    }
}