.stat-tbl {
  font-size: 85%;
  color: #222;
  margin-right: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.stat-tbl a {
  color: #3271b2;
}
.stat-tbl a:hover {
  color: #1e5190;
  background-color: #ddd;
  text-decoration: underline;
}
.stat-tbl tr th {
  *font-weight: normal; /* ie is bold by default for th tag */
}
.stat-tbl tr.stripe {
  background-color: #eae8e6;
}
.stat-tbl tr:hover {
  color: #000;
  background-color: #bdd0e1;
}

.stat-tbl thead div {
  white-space: nowrap;
  margin-top: 1px;
}
.stat-tbl thead img {
  margin: 0 0 0 1px;
  *margin: 0 0 0 1px;
}
.stat-tbl thead input {
  margin: 0 0 2px 1px;
  *margin: 0 0 1px 0;
  vertical-align: text-bottom;
}
.stat-tbl tbody img {
  vertical-align: middle;
  margin-bottom: 1px;
}
.stat-tbl tbody input {
  border: none;
  width: 14px;
  height: 14px;
  margin-left: 3px;
  vertical-align: baseline;
}
.stat-tbl tbody span.vmove {
  margin: -13px 4px 0 4px;
  position: relative;
}

#floating-thead {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  border-bottom: 1px solid #aaa;
}

.notes {
  font-size: 85%;
  margin: 5px 37px 4px 40px;
}
#np-content .notes {
  margin-left:0;
}
#headnotes, #footnotes {
  display: none;
}
.headnote, .footnote {
  margin: 4px 0 10px 0
}

#tabletoolsandlegend .tabletools {
  background:url(../img/tabletools_bkg.gif) no-repeat top left;
  border-bottom: 1px solid #c8c5c0;
  height: 40px;
  margin-top: -4px;
  margin-left: 108px;
  padding: 17px 20px 3px 20px;
  font-weight: bold;
  font-size: 93%;
}
.tabletools .buttons {
  float: none;
}
.tabletools .buttons a, .tabletools .buttons a.disabled:hover {
  border: 1px solid #ececec;
}
.tabletools p {
  color: #555;
  font-size: 90%;
  font-weight: normal;
  margin: 3px 0 0 0px;
  text-align: center;
}
.tabletools.actionbar {
  float: left;
}

.tabletoolslegend {
  padding: 3px 20px 3px 107px;
  font-weight: bold;
  font-size: 85%;
}
.tabletoolslegend img {
  vertical-align: middle;
}


.map-instruction {
  padding: 8px 20px 4px 46px;
  font-weight: bold;
}
.selecttheme, .selecttheme-es, .selectchart, .selectchart-es {
  background:url(../img/en/selecttheme_bkg.png) no-repeat top left;
  border-bottom: 1px solid #c8c5c0;
  height: 56px;
  width: 470px;
  margin: -4px 0 4px 548px;
  padding: 19px 16px 3px 34px;
  font-weight: bold;
  font-size: 93%;
  color: #333;
}
.selecttheme {
  width: 430px;
}
.selectchart {
  background:url(../img/en/selectchart_bkg.png) no-repeat top left;
}
.selecttheme-es {
  background:url(../img/es/selecttheme_bkg.png) no-repeat top left;
}

#notes-div1 {
  float: right;
}
#messages {
  float:left;
  font-size:91.5%;
}

.message {
  margin-top: 4px;
  font-weight: normal;
  padding: 3px 5px;
  background-color: #fffcb8;
  border: solid 1px #e7e0d7;
}

#total_table_size_message {
  background-color: #fff;
  border: none;
}

#table_modified_disclaimer_print {
  display: none;
  font-size: 93%;
  margin-left: 40px;
}

#table_modified_disclaimer_chart {
  display: none;
  font-size: 93%;
  margin-left: 40px;
}

#no-data-note {
  white-space:normal;
  margin: 10px 4px;
  padding: 10px;
}
#no-data-note .main {
  font-size: 108%;
}
#no-data-note p {
  margin: 5px 4px;
}
#no-data-note ul {
  margin: 0 0 0 18px;
}
#no-data-note li {
  padding: 2px 12px;
  display: list-item;
  background:url(/common/css/bullet_sm.png) no-repeat 0px 7px;
}
.stat-tbl tr:hover #no-data-note {
  background-color: #fff;
}

#chart .SFXMenuTdOver {
  border-style: none;
}
#chart .SFXMenuTdOver .SFXMenuTdHeader {
  background-color: #d7ccbc;
}

#chart .chartImgResize {
  width: auto;
  height: auto;
  max-height: 400px;
  max-width: 600px;
}

.hidden-submit {
  border: 0 none;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* table presentation styles */
/* shared styling */
sup {
  vertical-align: baseline;
  font-size: 0.8em;
  position: relative;
  top: -0.4em;
  margin-right: 0.125em;
}

/* metaboxhead styling */
.metaboxhead {
  border-top: solid 1px #aaa;
  border-left: solid 1px #aaa;
  background-color: #eae8e6;
}

.metaboxhead.top {
  border-top: solid 1px #aaa;
}

.metaboxhead.control {
  border-left: none;
}

.metaboxhead.control.top {
  border-top: solid 1px #aaa;
}

/* metastub styling */
.metastub {
  border-top: solid 1px #aaa;
  border-left: solid 1px #aaa;
  background-color: #eae8e6;
}

.metastub.left, .metastub.filler {
  border-left: none;
}

.metastub.control {
  border-top: none;
}

.metastub.control.filler {
  border-left: none;
}

.metastub.control.right {
  border-right: none;
}

/* boxhead styling */
.boxhead {
  border-top: solid 1px #aaa;
  border-left: solid 1px #aaa;
  background-color: #eae8e6;
}

.boxhead.top {
  border-top: solid 1px #aaa;
}

.boxhead.left {
  border-left: solid 1px #aaa;
}

.boxhead.right {
  border-right:none;
}

.boxhead.control {
  border-left: solid 1px #aaa;
  border-top: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.boxhead.control.left {
  border-left: solid 1px #aaa;
}

.boxhead.control.right {
  border-right: solid 1px #aaa;
}

.boxhead.filler {
  border-top: none;
}

.boxhead.delegating-left {
  border-left: none;
}

.boxhead.delegating-up {
  border-top: none;
}

/* stub styling */
.stub {
  border-left: solid 1px #aaa;
  /*white-space: nowrap;*/
}

.stub.top {
  border-top: solid 1px #aaa;
}

.stub.bottom {
  border-bottom: none;
}

.stub.left {
  border-left: none;
}

.stub.control {
  border-left: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  padding: 0;
}

/* field styling */
.field {
  border-left: solid 1px #aaa;
}

.field.top {
  border-top: solid 1px #aaa;
}

.field.right {
  border-right: none;
}

.field.bottom {
  border-bottom: none;
}

.field.left {
  border-left: solid 1px #aaa;
}

#ndf {
  text-align: left;
}


/* WARNING: Do not modify this file, it is generated by TablePresentationStyleCssGenerator from 'classpath:table/style.{FLAT1,HIERARCHICAL1}.xml' files. */
.stat-tbl tr.f th.metaboxhead {
  font-weight: bold;
  text-align: right;
  vertical-align: middle;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.stat-tbl tr.f th.metastub {
  font-weight: bold;
  text-align: center;
  vertical-align: bottom;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.stat-tbl tr.f th.boxhead {
  font-weight: bold;
  text-align: center;
  vertical-align: bottom;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.stat-tbl tr.f th.boxhead.spanning-right.spanning-down {
  text-align: left;
}
.stat-tbl tr.f th.stub {
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.stat-tbl tr.f th.field {
  text-align: right;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  white-space: nowrap;
}
.stat-tbl tr.f td.metaboxhead {
  font-weight: bold;
  text-align: right;
  vertical-align: middle;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.stat-tbl tr.f td.metastub {
  font-weight: bold;
  text-align: center;
  vertical-align: bottom;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.stat-tbl tr.f td.boxhead {
  font-weight: bold;
  text-align: center;
  vertical-align: bottom;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.stat-tbl tr.f td.boxhead.spanning-right.spanning-down {
  text-align: left;
}
.stat-tbl tr.f td.stub {
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.stat-tbl tr.f td.field {
  text-align: right;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  white-space: nowrap;
}

.stat-tbl tr.h th.metaboxhead {
  font-weight: bold;
  text-align: right;
  vertical-align: middle;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.stat-tbl tr.h th.metaboxhead.control.primary-metastub {
  border-top-style: none;
}
.stat-tbl tr.h th.metaboxhead.control.top {
  border-top-style: solid;
}
.stat-tbl tr.h th.metastub {
  font-weight: bold;
  text-align: center;
  vertical-align: bottom;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
}
/* makes metasub data invisible in table column header */
.stat-tbl tr.h th.metastub {
  font-weight: normal;
  color: #eae8e6;
}
.stat-tbl tr.h th.boxhead {
  font-weight: bold;
  text-align: center;
  vertical-align: bottom;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.stat-tbl tr.h th.boxhead.spanning-right.spanning-down {
  text-align: left;
}
.stat-tbl tr.h th.stub {
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.stat-tbl tr.h th.stub.label {
  min-width: 80px;
}
.stat-tbl tr.h th.stub.L0 {
  padding-left: 5px;
}
.stat-tbl tr.h th.stub.L1 {
  padding-left: 17px;
}
.stat-tbl tr.h th.stub.L2 {
  padding-left: 29px;
}
.stat-tbl tr.h th.stub.L3 {
  padding-left: 41px;
}
.stat-tbl tr.h th.stub.L4 {
  padding-left: 53px;
}
.stat-tbl tr.h th.stub.L5 {
  padding-left: 65px;
}
.stat-tbl tr.h th.stub.L6 {
  padding-left: 77px;
}
.stat-tbl tr.h th.stub.L7 {
  padding-left: 89px;
}
.stat-tbl tr.h th.stub.L8 {
  padding-left: 101px;
}
.stat-tbl tr.h th.stub.L9 {
  padding-left: 113px;
}
.stat-tbl tr.h th.stub.L10 {
  padding-left: 125px;
}
.stat-tbl tr.h th.field {
  text-align: right;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  white-space: nowrap;
}
.stat-tbl tr.h td.metaboxhead {
  font-weight: bold;
  text-align: right;
  vertical-align: middle;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.stat-tbl tr.h td.metaboxhead.control.primary-metastub {
  border-top-style: none;
}
.stat-tbl tr.h td.metaboxhead.control.top {
  border-top-style: solid;
}
.stat-tbl tr.h td.metastub {
  font-weight: bold;
  text-align: center;
  vertical-align: bottom;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.stat-tbl tr.h td.boxhead {
  font-weight: bold;
  text-align: center;
  vertical-align: bottom;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.stat-tbl tr.h td.boxhead.spanning-right.spanning-down {
  text-align: left;
}
.stat-tbl tr.h td.stub {
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.stat-tbl tr.h td.stub.label {
  min-width: 80px;
}
.stat-tbl tr.h td.stub.L0 {
  padding-left: 5px;
}
.stat-tbl tr.h td.stub.L1 {
  padding-left: 17px;
}
.stat-tbl tr.h td.stub.L2 {
  padding-left: 29px;
}
.stat-tbl tr.h td.stub.L3 {
  padding-left: 41px;
}
.stat-tbl tr.h td.stub.L4 {
  padding-left: 53px;
}
.stat-tbl tr.h td.stub.L5 {
  padding-left: 65px;
}
.stat-tbl tr.h td.stub.L6 {
  padding-left: 77px;
}
.stat-tbl tr.h td.stub.L7 {
  padding-left: 89px;
}
.stat-tbl tr.h td.stub.L8 {
  padding-left: 101px;
}
.stat-tbl tr.h td.stub.L9 {
  padding-left: 113px;
}
.stat-tbl tr.h td.stub.L10 {
  padding-left: 125px;
}
.stat-tbl tr.h td.field {
  text-align: right;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  white-space: nowrap;
}

/*Custom css to override bootstrap css*/
#data .label {
 display: table-cell ;
 color: black ;
 text-align: left ;
 font-size: 13px;
 font-weight: normal;
 line-height: 30px;
 border-radius: 0;
}