.uscb-single-search-body{
    background: radial-gradient(circle, #1296DD, #0c6291 80%);
    // overflow: hidden;
}

#searchInputLabel {
    font-size: 32px;
    color: #fff;
    font-family: 'AriaMT', 'Arial';
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: normal;
    display: block;
    // margin-top: 200px;
}

.uscb-fixed-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
}

.uscb-zindex-100{
    z-index: 100;
}
