.uscb-thematic-p-textAlign{
    text-align: center;
    font-weight: bold;
}

.uscb-thematic-textWhite{
    color: #fff;
}

.uscb-thematic-displayBlock{
    display: block
}

.uscb-thematic-dropDown-padding{
    padding: 2px 0 0 0;
}

.uscb-thematic-tr-marginTop{
    margin-top: 10px;
}

.uscb-thematic-displayNone{
    display: none;
}

.uscb-thematic-minWidth{
    min-width: 30px;
}

.uscb-thematic-td-style{
    display: inline-block;
    width: 80px;
    border: 1px solid gray !important;
}

.uscb-thematic-floatRight{
    float: right;
}

.uscb-thematicMapLegendTitle, .uscb-thematicMapDataSymbolizationTitle, .uscb-manualClassificationTitle, .uscb-layerWidgetTitle{
  color: #ffffff;
  font-size: 14px;
  background-color: #7C8797;
  padding-left: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-right:0.5em;
  border-radius: 10px 10px 0 0;
}


.uscb-thematicMapLegendContainerPositioning{
  position: absolute;
  top:0;
  margin-top: 1%;
  margin-left: 1%;
  z-index: 2;
}

.uscb-thematicMapLegendContainer, .uscb-thematicMapDataSymbolizationContainer, .uscb-layerWidgetContainer {
  margin-top: 0.5em;
  width: 350px;
  border: solid 1px gray;
  border-radius: 10px;
}

.uscb-thematicMapLegendBody, .uscb-thematicMapDataSymbolizationBody, .uscb-manualClassificationBody, .uscb-themalayerWidgetBody{
  padding:10px;
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
  color: #929497;
}

.uscb-thematicMapLegendRow, .uscb-manualClassificationRow {
  height:25px
}

.uscb-thematicMapLegendDataNotAvailableRow {
  padding-top:10px
}

.uscb-thematicMapLegendFooterItalic {
  font-style:italic
}

.uscb-thematicRange, .uscb-manualClassificationRange {
  padding-left:10px;
  font-weight:bold;
}

.uscb-thematicCount, .uscb-manualClassificationCount {
  font-style:italic;
}

.uscb-thematicMapLegendFooterRow, .uscb-manualClassificationFooterRow {
  padding-top:10px;
}

.uscb-manualClassificationHeaderRow {
  padding-bottom: 10px;
}

.uscb-dataSymbolizationRow {
  padding-top:5px;
}

.uscb-classificationTypeMenuItem, .noOfClassesMenuItem {
  padding:2px 0 0 0 !important;
  color:gray !important;
}

.uscb-manualClassificationInput.ng-pristine {
  color: lightgrey;
}

.uscb-manualClassificationInput.ng-dirty {
  color: #929497;
}

.uscb-btnManualClassification {
  color: #fff;
  background-color: #7C8797;
}

.uscb-manualValidationFailed {
  color: red;
}

.uscb-mapComponentPanel{
    height: 100%;
}

.esriScalebar {
    position: relative;
}


.uscb-thematic-btn {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 0.25rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-color: #ccc;
}

.uscb-thematic-dropdown-image{
  height: 24px;
  width: 300px;
}

/* Legacy THEMATIC CSS FILES NON PREFIXED */

#thematicMapContainer{
  width: 100%;
    height: 100%;
}

#thematicMap{
  border-top: 0;
  height: 100%;
  width: 100%;
}

#thematicMapDiv{
  height: 100%;
  width: 100%;
}

#thematicMap.processing{
  pointer-events: none;
}

#thematicMap.normal{
  pointer-events: all;
}

.glyphicon.spinning {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

#titleContainerPositioning {
  width: 100%;
  position: absolute;
  top: 20px;
  height: 5em;
  z-index: 1;
}

#titleContainer {
  width:  30%;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px gray;
  padding: 0.75em;
  background-color: #dee5ec;
}

#manualClassificationContainerPositioning {
  position: absolute;
  top:15%;
  left:35%;
  margin-top: 1%;
  margin-left: 1%;
  z-index: 2;
}

#manualClassificationContainer {
  margin-top: 0.5em;
  width: 300px;
  border: solid 1px gray;
  border-radius: 10px;
}

.thematicMapLegendTitle, .thematicMapDataSymbolizationTitle, .manualClassificationTitle, .layerWidgetTitle{
  color: #ffffff;
  font-size: 14px;
  background-color: #7C8797;
  padding-left: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-right:0.5em;
  border-radius: 10px 10px 0 0;
}

#thematicMapContainer .closeButton{
  position: absolute;
  margin-left: 98%;
  margin-top: 0.5%;
  z-index: 2;
}

.thematicMapLegendContainerPositioning{
  position: absolute;
  top:0;
  margin-top: 1%;
  margin-left: 1%;
  z-index: 2;
}

.thematicMapLegendContainer, .thematicMapDataSymbolizationContainer, .layerWidgetContainer {
  margin-top: 0.5em;
  width: 350px;
  border: solid 1px gray;
  border-radius: 10px;
}

.thematicMapLegendBody, .thematicMapDataSymbolizationBody, .manualClassificationBody, .layerWidgetBody{
  padding:10px;
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
  color: #929497;
}

.thematicMapLegendRow, .manualClassificationRow {
  height:25px
}

.thematicMapLegendDataNotAvailableRow {
  padding-top:10px
}

.thematicMapLegendFooterItalic {
  font-style:italic
}

.thematicRange, .manualClassificationRange {
  padding-left:10px;
  font-weight:bold;
}

.thematicCount, .manualClassificationCount {
  font-style:italic;
}

.thematicMapLegendFooterRow, .manualClassificationFooterRow {
  padding-top:10px;
}

.manualClassificationHeaderRow {
  padding-bottom: 10px;
}

#colorPaletteDropDownIcon, #classificationTypeDropDownIcon, #noOfClassesDropDownIcon {
  color:#ffffff;
  background-color:gray;
  width:25px;
  padding-top:2px;
  height:22px;
  margin-bottom:2px;
  margin-top:-1px;
}

#dropdownMenu1 {
  padding:0;
  border:0;
  color:#ffffff
}

#dropdownMenu2, #dropdownMenu3 {
  padding:0;
  border:0;
}

#colorPaletteDropDownOptions {
  min-width:0 !important;
  margin:0;
  padding:0;
  border-radius:0;
}

#classificationTypeDropDownOptions {
  min-width:0 !important;
  padding:0 5px 0 5px;
  margin-left:55px;
  border-radius:0;
  color:gray;
}

#noOfClassesDropDownOptions {
  min-width:0 !important;
  padding:0 5px 0 5px;
  margin-left:135px;
  border-radius:0;
  color:gray;
}

.dataSymbolizationRow {
  padding-top:5px;
}

#classificationTypeLabel, #noOfClassesLabel {
  border:1px solid gray;
  color:gray;
  padding:0 5px 0 5px;
}

.classificationTypeMenuItem, .noOfClassesMenuItem {
  padding:2px 0 0 0 !important;
  color:gray !important;
}

.bold{
  font-weight:bold;
}

.manualClassificationInput.ng-pristine {
  color: lightgrey;
}

.manualClassificationInput.ng-dirty {
  color: #929497;
}

.btnManualClassification {
  color: #fff;
  background-color: #7C8797;
}

.manualValidationFailed {
  color: red;
}

#thematicMapHomeButton {
    position: absolute;
    top: 90px;
    right: 26px;
    z-index: 1;
    font-size: 20px;
    cursor: pointer;
}

.mapComponentPanel{
    height: 100%;
}

.esriScalebar {
    position: relative;
}

.thematicMapData {
    border-bottom: 1px solid #EEE;
    margin-bottom: 10px;
}

.thematicMapData input {
    border-radius: 0px;
}

.thematicMapData button {
    border-radius: 0px;
    white-space: normal;
}

.thematicMapDropdown {
    margin-bottom: 10px;
}

.thematicMapForm {
    width: 90%;
}

.thematicMapForm-sm {
    width: 20%;
}

.thematicMapForm i {
    float: right;
}

.thematicMapBackLink {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

.thematicContent {
    border: 1px solid #EEE;
    padding-bottom: 15px;
    margin-left: 0px;
    width: 90%;
    margin-bottom: 10px;
}

