md-select.uscb-primary-select:focus:not([disabled]) .md-select-value {
    border-radius: 2px;
    border-width: 0;
}

md-select {
    border: 2px solid $uscb-primary-gray;
    border-radius: 2px;
    
    .md-select-value { 
        border-width: 0;   
    }
}

md-input-container {
    margin: 0;
    
    .md-input {
        border: 2px solid $uscb-primary-gray !important;
        border-radius: 2px;
        
        &.uscb-input-large {
            height: 50px;
            font-size: 18px;
            padding-left: 5px;
            padding-right: 40px;
            color: $uscb-primary-blue;
            
            &::placeholder {
                color: $uscb-dark-gray;;
            }
        }
        
        &.uscb-input-header {
            color: $uscb-white;
            border: none !important;
            
            @media(max-width: 959px){
                height: 32px;
                
                .fa {
                    top: 8px;   
                }
            }
            
            &::placeholder {
                color: $uscb-white;
            }
        }
    }
    
    .fa {
        position: absolute;
        right: 14px;
        font-size: 26px;
        top: 14px;
        color: $uscb-primary-blue;
    }
    
}

md-input-container.md-input-focused:not(.md-input-invalid) .md-input {
    border-color: $uscb-primary-gray;
}
md-input-container.md-input-focused:not(.md-input-invalid) label {
    color: $uscb-dark-gray;
}

md-input-container label {
    
}

md-backdrop {
    opacity: 0;
}

.uscb-form-control{
    border: 0.5px solid #ccc;
}

.uscb-searchBtnHolder{
    border: 2px solid #ccc;
    width: auto;
    border-left: none;
    left: -1px;
    position: relative;
    border-radius: 2px;
}

md-switch {
    
    margin: 0;
    
    &.md-checked {
        
        .md-thumb {
            background-color: $uscb-white;
            border:1px solid $uscb-primary-blue;
        } 
        
        &.md-focused .md-thumb:before {
            background-color: rgba($uscb-primary-blue, 0.26);
        } 
        
        .md-bar {
            background-color: $uscb-primary-blue;
        }
        
        .md-ink-ripple {
            color: $uscb-primary-blue;
        } 
    }
    
    .md-thumb {
        background-color: $uscb-white;
        border:1px solid $uscb-dark-gray;
    }   
    
    .md-bar {
        background-color: $uscb-dark-gray;
    } 
    
    .md-ink-ripple {
        color: $uscb-dark-gray;
    } 
}