<display-wrapper title="Forms and Input">
  <uscb-description>
      <h4>Description - Text Input</h4>  
      <h5>Purpose</h5>
        <p>Text input fields allow the user to type a specific query.</p>
        <h5>Usage</h5>
        <p>Text input fields remove hint text and show a cursor when the user clicks into the field. Users can enter a combination of letters and numbers. Text inputs are use primarily as search inputs in the CEDSCI platform. </p>
        <h5>Do</h5>
        <ul>
            <li>Remove hint text as soon as user clicks into text field </li>
            <li>Focus on text box when user clicks into text field</li>
        </ul>
        <h5>Do not</h5>
        <ul>
        </ul>
        <h4>Description - Select</h4>  
        <h5>Purpose</h5>
        <p>Dropdowns allow users to make a selection from a predefined set of choices.</p>
        <h5>Usage</h5>
        <p>On click of a dropdown box, the user can select an item from a dropdown list. List items might result in different information displayed to the user. Dropdowns can also be used to select an option from a list of mutually exclusive options. Dropdowns include an area for displaying content and an indication that there are more options available, such as an arrow sign. E.g. sort dropdown. </p>
      <ul>
          <li>Dataset selection inside Table result list items – Allows user to select a specific survey year.</li>
          <li>Dataset selection inside Table expand version – Allows user to select a specific survey year.</li>
          <li>"Sort by" dropdown: rearranges result list items based on selected parameter.</li>
          <li>"Map layers to show" selection overlay menu on Map tool – Allows user to select Boundary and Label to show on selection map.</li>
          <li>Geography type dropdown in Map tool – Allows user to select specific geography types to show on map.</li>
      </ul>
        <h5>Do</h5>
        <ul>
            <li>Allow user to select one item from dropdown at a time</li>
            <li>Display selected dropdown item in default/collapsed dropdown view</li>
        </ul>
        <h5>Do not</h5>
        <ul>
            <li>Allow user to select more than one item from dropdown list</li>
            <li>Allow to the dropdown to spill over the viewport</li>
        </ul>
  </uscb-description>
    <uscb-code>
    <h4>Code</h4> 
         <section class="uscb-tabs-wrapper" layout="row">
            <md-tabs class="uscb-tabs" flex="100">
                <md-tab class="uscb-tab" label="HTML">
                    <xmp>
                      <p>Drop down menu</p>
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>State</label>
                        <md-select ng-model="user.state" class="uscb-primary-select">
                          <md-option ng-repeat="state in vm.states" value="{{state.abbrev}}">
                            {{state.abbrev}}
                          </md-option>
                        </md-select>
                      </md-input-container>

                      <p>Text input</p>
                      <md-input-container class="md-block">
                        <label>Address</label>
                        <input>
                      </md-input-container>

                      <p>Switch</p>
                      <md-switch ng-model="data.cb1" aria-label="Show Margin of Error" md-invert>
                        Show Margin of Error
                      </md-switch>

                    </xmp>
                  </md-tab>
                  <md-tab label="JS"></md-tab>

            </md-tabs>
        </section>
  </uscb-code>

  <uscb-demo>
    <h4>Example</h4>
      
      <p>Drop down menu</p>
      <md-input-container class="md-block" flex-gt-sm>
        <label>State</label>
        <md-select ng-model="user.state" class="uscb-primary-select">
          <md-option ng-repeat="state in vm.states" value="{{state.abbrev}}">
            {{state.abbrev}}
          </md-option>
        </md-select>
      </md-input-container>
    
      <p>Text input</p>
      <md-input-container class="md-block">
        <label>Address</label>
        <input>
      </md-input-container>
      
      <p>Switch</p>
      <md-switch ng-model="data.cb1" aria-label="Show Margin of Error" md-invert>
        Show Margin of Error
      </md-switch>


  </uscb-demo>
</display-wrapper>