.uscb-relatedSearch-inline-47{
    width: 47%;
    display: inline-block;
    text-align: left;
    
    @media(max-width: 599px){
        width: 100%;
        display: block;
        text-overflow: ellipsis;
     }
}

.uscb-relatedSearch-link-container{
    border: 1px solid $uscb-primary-gray;
    border-top: none;
}
