.uscb-header {
    
    &.uscb-header-fixed-scroll {
        top: -100px;
        opacity: 0;
        transition: .5s;
        position: fixed;
        width: 100%;
        
        &.active {
            top: 0;
            z-index: 20;
            opacity: 1;
        }
    }
    
    md-toolbar {
        min-height: 100px;    
        background-color: $uscb-primary-blue;
    }
    
    .md-toolbar-tools {
        background-color: $uscb-primary-blue;
        color: $uscb-white;
        min-height: 100px;
    }
    
    .uscb-logo {
        height: 50px;
    }
    
    .uscb-feedback-link {
        font-size: 14px;
        font-weight: bold;
    }
    
    .uscb-header-search-wrapper {
       
        background-color: rgba($uscb-white, 0.15);
        border-radius: 2px;
        height: 50px;

        i {
            color:white;
            font-size: 18px;
        }

        input {
            color: $uscb-white; 
            background-color:transparent; 
            border:none;
            
            &:focus {
                outline: none;
            }
        }
    }
}

.uscb-header-wrapper {
    width: 100%;
}

.uscb-header-section-p {
    @media (max-width: 960px){
         font-size: 10px;
    }
   
}

.uscb-header-search-width {
    width: 400px;
}



.uscb-header-mobile {
    @media (max-width: 960px){
        
        md-toolbar {
            height: 50px;  
            min-height: 50px;  
        }

        .md-toolbar-tools {
            min-height: 50px;
            height: 50px; 
            padding: 0px 10px;
        }

        .uscb-header-search-wrapper {
            height: 36px;
        }

        .uscb-logo {
            height: 30px;
            position: relative;
            top: 2px;
        }
    }
}

.uscb-header-sidenav {
     
    md-toolbar {
        height: 50px;  
        min-height: 50px;  
    }

    .md-toolbar-tools {
        min-height: 50px;
        height: 50px; 
        padding: 0px 10px;
    }

    .uscb-header-search-wrapper {
        height: 36px;
    }

    .uscb-logo {
        height: 30px;
        position: relative;
        top: 2px;
    }
}

.uscb-header-application {
    
    md-toolbar {    
        background-color: $uscb-light-gray;
    }
    
    .fa {
        color: $uscb-black;
    }
    
    .md-toolbar-tools {
        background-color: $uscb-light-gray;
        color: $uscb-black;
        max-height: none;
        height: inherit;
    }
}

.uscb-header-fixed-container {
    position: relative;
    z-index: 20;
}