.uscb-smap-overflow-y{
    overflow-y: scroll;
}

.uscb-map-panel-form{
    margin-bottom: 5px;
    height: 40px;
}

.uscb-map-form-control{
    display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
//   padding: 6px 12px;
  height: 34px;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}


/* Typeahead */
#uscb-mapSearchContainer {
    position: relative;

    .uscb-map-typeaheadDiv{
        display: block;
        width: 100%;
    }

    .uscb-map-typeaheadCategory{
        font-size: 16px;
        font-weight: bold;
        padding: 10px;
        background-color: #c9c9c9;
        border-bottom: 1px black solid;
        text-transform: capitalize;
        cursor: default;
        color:#112e51;
    }

    .uscb-map-typeaheadPhrases{
        font-size: 14px;
        background-color: white;
        text-transform: capitalize;
        cursor: pointer;

        p{
            padding: 0px;
            margin: 0px;
            transition: all .2s ease 0s;
            border-bottom: 1px solid black;
            font-weight: bold;
            color: #0c6291;
            background-color: #fff;
            border:1px solid #c9c9c9;
            border-top: 0;

            a{
                font-weight: normal;
                color: #0c6291;
                padding: 10px;
                display: block;
                &:hover, &:focus{
                    background-color: #e4e4e4;
                }
            }
        }

    }
}

/* Selection Map */
#uscb-esriMapContainer{
    width: 100%;
    height: 500px;

    .closeButton{
        position: absolute;
        margin-left: 98%;
        margin-top: 0.5%;
        z-index: 2;
    }
}

#esriMapContainer{
  
}

#uscb-mapContainer{
  border: 1px solid #CAD1DA;
  border-top: 0px;
  width: 100%;
  height: 100%;
    position: relative;
}

.uscb-mapDiv{
  height: 100%;
  width: 100%;
}

#uscb-mapContainer.processing{
  pointer-events: none;
}

#uscb-mapContainer.normal{
  pointer-events: all;
}

.glyphicon.spinning {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

.uscb-mapDiv .processing{
  position: absolute;
  z-index: 2;
  left: 60%;
  top: 65%;
}

.uscb-mapDiv .normal{
  position: absolute;
  z-index: 0;
  left: 60%;
  top: 65%;
}

.uscb-mapComponentPanel{
    height: 100%;
}

.esriScalebar{
  position:relative;
  z-index:auto;
}



div[id$="_zoom_slider"]{
    right: 18px;
    top: 20px;
}

#mapDiv_zoom_slider{
  margin-left: 98%;
  margin-top: 0.5%;
}

.uscb-mapComponentPanel{
    .uscb-geographyMapComponent {
        position: absolute;
        top: 90px;
        right: 24px;
        margin-top: 10px;
        margin-left: 1%;
        z-index: 2;
    }

    .uscb-geographyMapComponentLayers {
        position: absolute;
        top:0;
        left: 0;
        margin-top: 0;
        margin-left: 0;
        z-index: 2;
    }

    .uscb-homeButton{
        position: absolute;
        top: 75px;
        right: 20px;
        z-index: 2;
        cursor: pointer;
    }

    .uscb-predefinedZoomButton{
        position: absolute;
        top: 125px;
        right: 18px;
        z-index: 2;
        cursor: pointer;
    }

    .uscb-selectionTypeComponent{

        .uscb-componentTitle{
            color: #041C5D;
            font-weight: bold;
            font-size: 14px;
            background-color: #DEE5EC;
            border: 1px solid #CAD1DA;
            padding-left: 2em;
            padding-top: 0.25em;
            padding-bottom: 0.25em;
        }  

        .uscb-componentBody{
            background-color: #f2f2f2;

            .uscb-selectionButton{
                width: 1.5em;
                height: 1.5em;
                padding: 0px 2px;
                background-color: white;
                border-color: grey;
                margin-right: 0.25em;
                border-radius: 4px !important;
            }   

            .uscb-controlButton{
                width: 1.5em;
                height: 1.5em;
                padding: 0px 2px;
                background-color: white;
                border-color: grey;
                margin-right: 0.25em;
                border-radius: 4px !important;
            }  

            .uscb-clearButton {
                padding: 3px;
                margin-left: 20px;
                max-height: 2em;
                color: #fff;
                background-color: #0C6291;
                border-radius: 0;
                border: none;
                padding: 3px 10px;

                &:hover {
                    cursor: pointer;
                    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
                }

            }


        }
    } 

    .uscb-mapLegendComponent{

        margin-top: 20px;
        margin-left: 20px;
        width: 255px;
        border: solid 1px gray;
        border-radius: 1px;

        .uscb-componentTitle{
            color: #ffffff;
            font-weight: bold;
            font-size: 14px;
            background-color: #112e51;
            padding-left: 2em;
            padding-top: 0.25em;
            padding-bottom: 0.25em;
        }

        .uscb-componentTitle.open{
            color: #112e51;
            background-color: #ffffff;
            border: 1px solid #112e51;
        }

        .uscb-componentBody{
            background-color: #f2f2f2;
        }


        .uscb-componentTitle {

            .collapseButton{
                color: #ffffff;
                padding-right: 0.3em;
                padding-top: 0.15em;
                padding-bottom: 0.25em;
                cursor: pointer;
            }

            .collapseButton.open{
                color: #112e51;
            }

        }
        
    }

} 

th{
    text-align: left;
}

/* TO BE REMOVED COPY AND PASTE FROM LEGACY CSS FILE NON PREFIXED; */


#esriMapContainer{
  width: 100%;
}

#mapContainer{
  border: 1px solid #CAD1DA;
  border-top: 0px;
  width: 100%;
  height: 100%;
    position: relative;
}

.mapDiv{
  height: 100%;
  width: 100%;
}

#mapContainer.processing{
  pointer-events: none;
}

#mapContainer.normal{
  pointer-events: all;
}

.glyphicon.spinning {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

.mapDiv .processing{
  position: absolute;
  z-index: 2;
  left: 60%;
  top: 65%;
}

.mapDiv .normal{
  position: absolute;
  z-index: 0;
  left: 60%;
  top: 65%;
}

.mapComponentPanel{
    height: 100%;
}

.esriScalebar{
  position:relative;
  z-index:auto;
}

#esriMapContainer .closeButton{
  position: absolute;
  margin-left: 98%;
  margin-top: 0.5%;
  z-index: 2;
}

div[id$="_zoom_slider"]{
    right: 18px;
    top: 20px;
}

#mapDiv_zoom_slider{
  margin-left: 98%;
  margin-top: 0.5%;
}

.mapComponentPanel .geographyMapComponent {
  position: absolute;
  top: 90px;
  right: 24px;
  margin-top: 10px;
  margin-left: 1%;
  z-index: 2;
}

.mapComponentPanel .geographyMapComponentLayers {
  position: absolute;
  top:0;
  left: 0;
  margin-top: 0;
  margin-left: 0;
  z-index: 2;
}

.mapComponentPanel .homeButton{
  position: absolute;
  top: 75px;
  right: 20px;
  z-index: 2;
  cursor: pointer;
}

.mapComponentPanel .predefinedZoomButton{
  position: absolute;
  top: 125px;
  right: 18px;
  z-index: 2;
  cursor: pointer;
}

.glyphicon.glyphicon-globe {
  font-size: 20px;
}

#geoMapLayerControlTableContainer{
  padding: 5px;
  overflow-y: auto;
  max-height: 360px;
}

#geoMapLayerControlTable {
  width: 100%;
}

#geoMapLayerControlTable tr {
  padding: 0;
}

#geoMapLayerControlTable th{
  font-size: 12px;
  padding: 0;

}

#geoMapLayerControlTable .showLayerCheckBox {
  text-align: center;
}

#geoMapLayerControlTable .showLabelCheckBox {
  text-align: center;
}

#geoMapLayerControlTable .mapLayerDisabled{
  color: silver;
}

.mapControlsFootnote {
  font-size: 12px;
  margin-top: 1em;
}

.markhidden{
  visibility: hidden;
}

.disabledFontColor{
  color:grey;
}

.mapComponentPanel .selectionTypeComponent .componentTitle{
  color: #041C5D;
  font-weight: bold;
  font-size: 14px;
  background-color: #DEE5EC;
  border: 1px solid #CAD1DA;
  padding-left: 2em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.componentTitle {
    .fa.fa-chevron-up.fa-lg{
        color: $uscb-primary-blue;
    }
}

.mapComponentPanel .selectionTypeComponent .componentBody{
  background-color: #f2f2f2;
}

.mapComponentPanel .selectionTypeComponent .componentBody .selectionButton{
  width: 1.5em;
  height: 1.5em;
  padding: 0px 2px;
  background-color: white;
  border-color: grey;
  margin-right: 0.25em;
  border-radius: 4px !important;
}

.mapComponentPanel .selectionTypeComponent .componentBody .controlButton{
  width: 1.5em;
  height: 1.5em;
  padding: 0px 2px;
  background-color: white;
  border-color: grey;
  margin-right: 0.25em;
  border-radius: 4px !important;
}

.mapComponentPanel .selectionTypeComponent .componentBody .clearButton {
  padding: 3px;
  margin-left: 20px;
  max-height: 2em;
  color: #fff;
  background-color: #0C6291;
  border-radius: 0;
  border: none;
  padding: 3px 10px;
}

.mapComponentPanel .selectionTypeComponent .componentBody .clearButton:hover {
   cursor: pointer;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}


.mapComponentPanel .mapLegendComponent{
  margin-top: 20px;
  margin-left: 20px;
  width: 255px;
  border: solid 1px gray;
  border-radius: 1px;
}

.mapComponentPanel .mapLegendComponent .componentTitle{
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  background-color: #112e51;
  padding-left: 2em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.mapComponentPanel .mapLegendComponent .componentTitle.open{
  color: #112e51;
  background-color: #ffffff;
  border: 1px solid #112e51;
}

.mapComponentPanel .mapLegendComponent .componentBody{
  background-color: #f2f2f2;
}

.mapComponentPanel .mapLegendComponent .componentTitle .collapseButton{
  color: #ffffff;
  padding-right: 0.3em;
  padding-top: 0.15em;
  padding-bottom: 0.25em;
  cursor: pointer;
}

.mapComponentPanel .mapLegendComponent .componentTitle .collapseButton.open{
  color: #112e51;
}

#geoMapLayerControlTable tr{background-color: transparent}

#geoMapLayerControlTable tr:nth-child(even){background-color: transparent}

.esriSimpleSliderIncrementButton, .esriSimpleSliderDecrementButton{
  width:20px !important;
  height:20px !important;
  font-size:12px !important;
  line-height:18px !important;
}

.dontshow {
  display: none;
}

.errorMessageVisible {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #fea;
  z-index: 99999;
  width: 300px;
  min-height: 40px;
  border-radius: 3px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.5);
  padding: 5px;
  font-size: 14px;
  color: #000;
  line-height: 1em;
  opacity: 1;
  transition: all linear .5s;
}

.errorMessage {
  line-height: 0;
  opacity: 0;
  padding: 0 5px;
  position: absolute;
  top: -100px;
}

.no-padding-on-all-sides{
  padding:0;
}

.componentBodyRow{
    margin-right: -15px;
    margin-left: -15px;
}

.controlButton.toggleControls{
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

.componentTitle {
    .fa-chevron-down{
        color: #fff;
    }
}




