ul,ol {
    
}

.uscb-table-results-comp{
    md-input-container{
        margin-top: 0;
    }

    .uscb-icon-align-right{
        text-align: right;
        color: #112e51;
    }

    .uscb-table-title{
        color: $uscb-primary-blue;
        font-size: 13px;
        font-family: 'Arial Bold', 'Arial';
        font-weight: 700;
        cursor: pointer;
    }
    .uscb-table-id{
        font-size: 12px;
        text-align: right;
        font-family: 'ArialMT', 'Arial';
        font-weight: 400;
        color: #666666
    }
    .fa.uscb-table-icon{
        color: $uscb-primary-blue;
    }
}

.uscb-webpages-section{
    margin-bottom: 10px;
    margin-left: 15px;
    &:hover{
             background-color: #F3F3F3;
             width: 100%;
    }
    a{
        color: #23527c;
        text-decoration: none;
        &:focus,&:active,&:hover,&:visited{
            color: #23527c;
            text-decoration: underline;
        }
    }

    .smallLink{
            font-size: 11px;
        } 
    p {
        margin: 2px 0;
        font-family: "Arial";
        font-weight: 400;
        font-size: 13px;
        color: #666;
        line-height: 17px;
    }  
}

.uscb-webListEmphasis, .uscb-imageListEmphasis, .uscb-videoListEmphasis{
    font-weight: bold;
}

.uscb-webListPagination.uscb-showSinglePageNumber .uscb-pagination-last{
    display: none;
}

.uscb-table-h4{
    margin-bottom: 0;
    @media(max-width: 599px){
        white-space: normal;
        text-align: left;
        font-size: 12px;
    }
}
.uscb-table-source-label{
    color: $uscb-dark-gray;
}

.uscb-table-id-text{
    color: $uscb-primary-blue;
}

.uscb-table-action-container{
    cursor: pointer;
    
    &:hover {
        background-color: $uscb-light-gray;
        
        .uscb-h5.uscb-block-text:after {
            background-color: $uscb-light-gray;
        }
    }
    
    &.uscb-table-action-container-active {
        border-left: 6px solid rgba($uscb-light-blue, .7);
        cursor: auto;
        
        &:hover {
            background-color: $uscb-white;
            
            .uscb-h5.uscb-block-text:after {
                background-color: $uscb-white;
            }
        }
        
        &:focus {
            outline: none;
        }
        
    }
}

.uscb-table-list-item-expanded {
    border-left: 6px solid rgba($uscb-light-blue, .7);
}

md-list-item.uscb-card-weblist{

        .uscb-h5{
            margin-bottom: 5px;
        }
    
        img{
            height: 100%;
            width: 100%;
        }

        border-bottom: 1px solid $uscb-primary-gray;
        padding: 10px 0;
    
}
