<display-wrapper title="Webpages Component">
    <uscb-description>

    </uscb-description>
    <uscb-code>
        <xmp>
            <md-list>
                <md-list-item ng-repeat="item in vm.data">
                    <section layout="column" class="uscb-webpages-section">
                        <a href="">{{item.label}}</a>
                        <p>{{item.concept}}</p>
                        <a class="smallLink" href="">{{item.link}}</a>
                    </section>
                </md-list-item>
            </md-list>
        </xmp>
    </uscb-code>
    <uscb-demo>
        <md-content>
            <md-list>
                <md-list-item ng-repeat="item in vm.data | limitTo : 5">
                    <section layout="column" class="uscb-webpages-section">
                        <a href="">{{item.label}}</a>
                        <p>{{item.concept}}</p>
                        <a class="smallLink" href="">{{item.link}}</a>
                    </section>
                </md-list-item>
            </md-list>
        </md-content>
    </uscb-demo>
</display-wrapper>