<display-wrapper title="Toasts">
  <afsds-description>
        
  </afsds-description>
  <afsds-code>
    <h4>Code</h4> 
      <md-tabs >
            <md-tab label="Html">
                <md-content>
                  <xmp>
                      
                  </xmp>
                    
                </md-content>
            </md-tab>
            <md-tab label="JS"></md-tab>
        </md-tabs>
    
  </afsds-code>
  <afsds-demo ng-controller="toastsCtrl">
    <h4>Example</h4>
        <md-button class="afsds-error-button" ng-click="vm.showErrorToast()">Error Toast</md-button>  
        <md-button class="afsds-warn-button" ng-click="vm.showWarnToast()">Warning Toast</md-button>
        <md-button class="afsds-success-button" ng-click="vm.showSuccessToast()">Success Toast</md-button>
        <md-button class="afsds-info-button" ng-click="vm.showInfoToast()">Info Toast</md-button>
  </afsds-demo>
</display-wrapper>