@mixin font-setup( $size, $bottomMargin){
    font-family: 'Open Sans', sans-serif;
    // font-weight: $weight;
    font-size: $size;
    margin-bottom: $bottomMargin;
    margin-top: 0;
    display: inline-block;
    font-weight: 500;
    line-height: 1.5em;
}

@mixin multiLineEllipsis($lineHeight, $lineCount, $bgColor){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  margin-right: -1em;
  padding-right: 1em;
  word-break: break-all;
  hyphens: auto;
  white-space: pre-wrap;
    
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

body {
    font-size: 16px;
    color: $uscb-black;
    font-family: 'Open Sans', sans-serif;
 }

p {
    margin: 0;
}

.uscb-h1 {
    @include font-setup( 44px, 0px);
}

.uscb-h2 {
    @include font-setup( 30px, 0px);
}

.uscb-h3 {
    @include font-setup( 24px, 0px);
}

.uscb-h4 {
    @include font-setup( 20px, 0px);
}

.uscb-h5 {
    @include font-setup( 18px, 0px);
    
    &.uscb-block-text {
        @include multiLineEllipsis($lineHeight: 1.375em, $lineCount: 2, $bgColor: $uscb-white);     
    }
}

.uscb-body-text {
    @include font-setup( 16px, 0px);
    
    &.uscb-block-text {
        @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 2, $bgColor: $uscb-white);     
    }
}

.uscb-text-color-white {
    color: $uscb-white;
}

.uscb-text-color-gray {
    color: $uscb-dark-gray;
}

.uscb-text-color-blue {
    color: $uscb-primary-blue;
}

.uscb-body-text-small {
    @include font-setup( 13px, 0);
}

.uscb-bold-text {
    font-weight: 700;
}

.uscb-light-text {
    font-weight: 300;
}

.uscb-left-align {
    text-align: left;
}

.uscb-center-align {
    text-align: center;
}

.uscb-link-color {
    color: $uscb-light-blue;
}

.uscb-right-align {
    text-align: right;
}

.uscb-center-align-sm {
    @media(max-width:960px) {
        text-align: center;   
    }
}

.uscb-heading-label{
    @include font-setup( 30px, 0px);
    font-weight: 700;
    @media(max-width: 960px){
        font-size: 24px;
    }}

    
p {
    margin: 0;

}

.uscb-text-min-height{
    min-height: 40px;
}