// Banners

.uscb-banner-warn-txt{ color: $uscb-warning-text}
.uscb-banner-success-txt{ color: $uscb-success-text}
.uscb-banner-error-txt{ color: $uscb-error-text;}
.uscb-banner-info-txt{ color: $uscb-info-text;}

.uscb-info-content-container{
    background-color: $uscb-info-background;
}

.uscb-warning-content-container{
    background-color: $uscb-warning-background;
}

.uscb-success-content-container{
    background-color: $uscb-success-background;
}

.uscb-error-content-container{
    background-color: $uscb-error-background;
}

.uscb-padding-10-30{
    padding: 10px 30px;
}

.uscb-banner-icon-left{
    text-align: right;
    padding-right: 10px;
}

.uscb-banner-padding-10-right{
    padding-right: 10;
}
.uscb-banner-header-text{
    font-size: 24px;
    font-weight: bold;
}